{#include layouts/default.html}
{#main}
<div id="content">
    {#insert content}{/insert}
</div>
<aside id="sidebar" role="complementary">
    {#if !site.collections.posts}
    <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_counter addthis_button_tweet"></a>
        <a class="addthis_counter addthis_pill_style"></a>
    </div>
    {/if}
    <div class="subscribe">
        <h2 class="icon news">
            <a href="/blog/atom.xml">Subscribe to the Arquillian Blog</a>
        </h2>
        <p>
            <em>Get the latest information on features, releases and events.</em>
        </p>
    </div>
    <nav class="latest">
        <h2>Latest Posts</h2>
        <ul>
            {#for post in site.collections.posts limit=5}
            <li>
                <div class="title">
                    <a href="{post.url}">{post.title}</a>
                </div>
                <div class="meta">
                    {post.date.format('MMM dd, yyyy')}
                </div>
            </li>
            {/for}
        </ul>
    </nav>
</aside>
{/main}
{/include}