---
layout: base
---

<div class="arquillian-downloads">
    {#for versionId in cdi:releases.list}
    <div class="grid-wrapper">
        <div class="grid__item width-12-12 ">
            <div class="grid-wrapper version-row mobile-fullwidth">
                <div class="grid__item width-2-12 version-id">
                    <h2 id="{versionId.version}"><a class="anchor" href="#{versionId.url}"></a>{versionId.title}</h2>
                </div>
                <div class="grid__item width-10-12 version-content">
                    <div class="grid-wrapper">
                        <div class="grid__item width-6-12 version-table">
                            <table class="tg">
                                <tr>
                                    <td>{versionId.version}</td>
                                    <td>{versionId.date.format('LLLL d, YYYY')}</td>
                                    <td>{versionId.changeLog}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/for}
</div>
