---
layout: default
title: The battle of the bugs continue
inhibit_indexifier: true
---

%div{ :width=>'100%', :style=>'text-align:center'}
  %img{ :src=>'/images/404_ike.png'}
  #404
    %p.clear{:style=>'font-size: 1.5em; text-align: center; color: rgb(140,61,51);'}
      but... this is not the correct direction
