---
layout: base
title: A container-oriented testing framework
---
#main
  .container
    %h1 Arquillian
    %p Stuff will go here...
    %p More stuff will go here...
    #activity
      #blog
        %h2 Latest News
        %ul
          - for post in site.posts[0,3] do
            %li
              %h3
                %a{ :href=>post.url }= post.title
              %p= summarize(html_to_text(post.content), 50)
        %a{ :href=>'/blog' } View all blog entries &raquo;
      #nobles
        %h2 Featured Noble
        %ul
          %li
            %img{ :src=>'https://secure.gravatar.com/avatar/88ab3950e925b4ad37c5d7302d854e87?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png', :width=>44, :height=>44 }
            %h3 Karel Piwko
            %p Contributed the Arquillian Drone extension
      #events
        %h2 Upcoming Events
        %ul
          %li
            %span.date<
              %abbr>< Oct
              2
            %h3 JavaOne
            %p Aslak, Dan and Andrew will be giving talks at JavaOne on Arquillian.
          %li
            %span.date<
              %abbr>< Nov
              7
            %h3 W-JAX
            %p Dan and Andrew will be giving talks at W-JAX on Arquillian.
