---
layout: base
title: A container-oriented testing framework
javascripts: [ /javascripts/slides.js ]
body_class: home
---
#main
  .container
    %h2.tagline Arquillian: a revolutionary Java enterprise testing platform.
    %a.primary{ :href=>'/guides/getting_started' }
      Get Started!
    #slides_frame
      #slides
        .slides_container
          .slide
            %h2 Don't write another test until you study this one! 
            :textile
              bc(prettify noborder).. @RunWith(Arquillian.class)
              public class GreeterTest {
                  @Deployment
                  public static JavaArchive createDeployment() {
                      return ShrinkWrap.create(JavaArchive.class)
                          .addClass(Greeter.class)
                          .addAsManifestResource(EmptyAsset.INSTANCE, "beans.xml");
                  }

                  @Inject
                  Greeter greeter;

                  @Test
                  public void should_create_greeting() {
                      assertEquals("Hello, Earthling!", greeter.greet("Earthling"));
                  }
              }

              notextile. 
          .slide
            %h2 Earn your first Arquillian green bar!
            %div.image_frame
              %img{ :src=>'/images/guides/arquillian_tutorial_junit_green_bar.png'}
            :textile
              Follow the "Getting Started":/guides/getting_started/ guide to learn how to add the Arquillian infrastructure to your test suite, write your first test and get it to pass. Get started now! *(greenbar)Green bar*.
          .slide
            %h2 Arquillian receives a Duke's Choice Award!
            %div.image_frame
              %a{ :href=>'http://www.java.com/en/dukeschoice'}
                %img{ :src=>'/images/2011-dukes-choice-award-ike.png', :width=>'350'}
          -#.slide
          -#  %h2 Test in # containers!
        %a.prev{ :href=>'#' }
          %img{ :src=>'/images/slide-arrow-prev.png', :width=>24, :height=>43, :alt=>'Previous Slide' }
        %a.next{ :href=>'#' }
          %img{ :src=>'/images/slide-arrow-next.png', :width=>24, :height=>43, :alt=>'Next Slide' }
    :javascript
      $(function(){
        $('#slides').slides({
          preload: false,
          //play: 8000,
          pause: 2500,
          hoverPause: true,
        });
      });
    #activity
      #blog
        %h2 Latest News
        %ul
          - for post in site.posts[0,3] do
            %li
              %h3
                %a{ :href=>post.url }= post.title
              - if (post.content.length > 0)
                %p= summarize(html_to_text(post.content), 50)
        .more
          %a{ :href=>'/blog' } View all blog entries &raquo;
      #nobles
        %h2 Featured Noble
        %ul
          %li
            %img{ :src=>'http://gravatar.com/avatar/88ab3950e925b4ad37c5d7302d854e87?s=60', :width=>44, :height=>44 }
            %h3 Karel Piwko
            %p Contributed the Arquillian Drone extension
        .more
          %a{ :href=>'/community/nobles' } View all nobles &raquo;
      #events
        %h2 Upcoming Events
        %ul
          %li
            %span.date<
              %abbr>< Oct
              2
            %h3 JavaOne
            %p Aslak, Dan and Andrew will be giving talks at JavaOne on Arquillian.
          %li
            %span.date<
              %abbr>< Nov
              7
            %h3 W-JAX
            %p Dan and Andrew will be giving talks at W-JAX on Arquillian.
        .more
          %a{ :href=>'/invasion/events' } View all events &raquo;
