---
---
:plain
    ==================================================================
    https://keybase.io/arquillian
    --------------------------------------------------------------------

    I hereby claim:

    * I am an admin of http://arquillian.org
    * I am arquillian (https://keybase.io/arquillian) on keybase.
    * I have a public key with fingerprint 1C56 1652 D802 1236 7951  651E 9E4B 0EA6 D94A 5329

    To do so, I am signing this object:

    {
        "body": {
            "key": {
                "eldest_kid": "0101ca05f5d56cda78f0d94e14bacf6793bd202b6670c1e3a318d1cd0cf3501d2aab0a",
                "fingerprint": "1c561652d80212367951651e9e4b0ea6d94a5329",
                "host": "keybase.io",
                "key_id": "9e4b0ea6d94a5329",
                "kid": "0101ca05f5d56cda78f0d94e14bacf6793bd202b6670c1e3a318d1cd0cf3501d2aab0a",
                "uid": "090676ddb43796a3e78366b355794e19",
                "username": "arquillian"
            },
            "service": {
                "hostname": "arquillian.org",
                "protocol": "http:"
            },
            "type": "web_service_binding",
            "version": 1
        },
        "ctime": 1490983389,
        "expire_in": 157680000,
        "prev": "061023a22e9a3cd450f98f51f7f461c5c1b2d0412f87c89d63a467e852b4aab2",
        "seqno": 10,
        "tag": "signature"
    }

    which yields the signature:

    -----BEGIN PGP MESSAGE-----
    Version: Keybase OpenPGP v2.0.68
    Comment: https://keybase.io/crypto

    yMIlAnicrZJbSBVBGMePmYWGYiV2z9oIwkRm9jK7e+hiUaalUBTR1cPszqwuHnfP
    2bPHMjEIe0iCLI5aYiWFD0ZX1B4yKZWkokhEeilM5NDFoMAeuhHWbJenemxehvnm
    //99l5l7qYm+lISXsW3l6R9T3ic86muJ+na9aB6p5jSbVHH+aq6c/txokNCIGyg3
    CefnAARQx0AyJCIhnWBZMQBRRQpFDesGklVBIzzgNYRkoEMqYAEqBOoE6IYgAUh4
    jDWAuRzOMK1S6oQc03IZFuoSgkjiiQJ4yAuMI7EjpCoVNUAxYimwJPAqM5bZEc/B
    itNwhOaaNouxQ+Bnef/Q/+e6o79wKkAyIkQTBVlFWKCyIiCkCZIke1AvbzRCHQtX
    UKbGTjhqBoMmtriaHI7FK02deqP1evlLk2s7pcwfcmzX1u0guytz3ZDfs7pVIU97
    gGqB35SAZlqEjZIZKqkTMW2L80Om1F3Tw0JRBaoiCIqaw9GDIdOhAdNTSDJSAFte
    GlrpNYQg4AXM81TFgk5ECRiqYkjQkA0RsdfRocYTIELeUGRdUQkSsIhkqki8JrLR
    8JzXV9iyGZtBXVzKmBGz1MJu1KFcTX/vvqm+hBTftKQp3h/zpSSn//l519ZPnxRi
    97KXNVQ17Jh9dmjneHHr12TlWerA8PwZx46njfa01z2Pjs1vbYpkrTsf3/iFXxI/
    PVb//UaTUTgBWpu1LfUdM2J5t8bjE7NOZt4P6QVnCjrzF3Wcanh18Unh6rnHqzY0
    Hb7yKXn3u9qO7PDRh0ltGc8Wc8uHSkb7ukryj8x5usZZtXdz/sjCyNtJrnP117sN
    S2smoNWTnqGsaGwfXdFVd0gb8BXNfjznetiuzojL3YO1d76VZPo+JF7qvNK7oHHk
    c5f/5oPrVx9N3fNw0/bu4ZqJoJtakdd47lzW4epYS/GF8O3murWvx96sjA/CNjhv
    Zv+HtI9bLxcVjlqT48MnZLL/0A9jrEbw
    =aDz6
    -----END PGP MESSAGE-----

    And finally, I am proving ownership of this host by posting or
    appending to this document.

    View my publicly-auditable identity here: https://keybase.io/arquillian

    ==================================================================
