---
layout: default
title: Modules
---
#content
  .type
    %h2 Containers
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-container\-.*/}
        %li
          %a{:href=>"#{page.url}"}=page.title

  .type
    %h2 TestRunners
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-testrunner\-.*/}
        %li
          %a{:href=>"#{page.url}"}=page.title

  .type
    %h2 Extensions
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-extension\-.*/}
        %li
          %a{:href=>"#{page.url}"}=page.title

  .type
    %h2 Others
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/(a.*)/ and $1.split('-').length == 2}
        %li
          %a{:href=>"#{page.url}"}=page.title
