---
layout: base
title: Modules
---

#main
  #content.container
    %h1 #{page.title}

    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*/ and page.is_a?(Awestruct::FrontMatterFile)}
        %li 
          %a{:href=>"#{page.url}"}=page.title