---
layout: default
title: Modules
---
#content
  %p The Arquillian source is modular, organized into the following major categories. You can click on one of the modules to get information about its repository, releases and contributors.
  .type
    - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-core/}
      %h2
        %a{:href=>page.url}=page.title
      %p The core module contains the APIs, SPIs and implementations for the infrastructure, test enrichers, protocols and packagers.
  .type
    %h2 Containers
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-container\-.*/}
        %li
          %a{:href=>page.url}=page.title
  .type
    %h2 Test Runners
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-testrunner\-.*/}
        %li
          %a{:href=>page.url}=page.title
  .type
    %h2 Extensions
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/a.*\-extension\-.*/}
        %li
          %a{:href=>page.url}=page.title
  .type
    %h2 Tools &amp; Examples
    %ul
      - for page in site.pages.select{|page| page.output_path =~ /module\/(arquillian-(?!core).*)/ and $1.split('-').length == 2}
        %li
          %a{:href=>page.url}=page.title
