---
layout: default
title: Activity
---
%script{ :type=>'text/javascript', :src=>'/javascripts/jquery.tmpl.js' }
%script{ :type=>'text/javascript', :src=>'/javascripts/jquery.jgfeed.js' }
%script{ :id=> 'activity-tmpl', :type=>'text/x-jquery-tmpl'}    
  %tr
    %td ${title}
    

%table#activity.data

:javascript
  $.jGFeed(encodeURI('http://issues.jboss.org/activity?streams=key+IS+#{site.jira_key}'),
    function(feeds){
      if(!feeds){
        return false;
      }
      $('#activity-tmpl').tmpl(feeds.entries).appendTo('#activity');
    }, 10);
