---
layout: default
title: Diigo External Feed
---
%script{ :type=>'text/javascript', :src=>'/javascripts/jquery.tmpl.js' }
%script{ :type=>'text/javascript', :src=>'/javascripts/jquery.jgfeed.js' }
%script{ :id=> 'diigo-tmpl', :type=>'text/x-jquery-tmpl'}    
  %tr
    %td
      %a{ :href=> "${link}"} 
        ${title}
    %td ${publishedDate}
    %td {{html content}}
    

#diigo.feed
  %table{ :id=>'diigo_feed' }
    %tr
      %th Titile
      %th Date
      %th Description

:javascript
  $.jGFeed('http://www.diigo.com/rss/user/jbosstesting',
    function(feeds){
      if(!feeds){
        return false;
      }
      $('#diigo-tmpl').tmpl(feeds.entries).appendTo('#diigo_feed');
    }, 10);