---
layout: default
title: Code Overview
---
#content
  %script{ :src=>"http://www.ohloh.net/p/#{site.ohloh_id}/widgets/project_basic_stats.js" }
  %p The Arquillian source code is readily accessible. If you plan on contributing to the project, we encourage you to clone the modules that interests you and build it. If you just want to browse the source, or track the latest activity, you can do so by visiting the <a href="#{site.source_repo}">Git Repository</a> in your web browser.
  %p
    %a{:href=>site.source_repo}
      %img{:src=>'/images/octocat_social.png', :style=>'vertical-align: middle;'}
    %strong<
      Coding has become social!
      %a{:href=>site.source_repo} Fork us!
  %p Now that you know where to find the code, you can learn about the various modules in the project and even check in on the latest activity (bugs, feature requests, commits) or the status of the builds.
  %ul
    %li 
      %a{ :href=> "/code/architecture/"} Architecture
    %li 
      %a{ :href=> "/modules/"} Modules
    %li
      %a{ :href=> "/code/issues/"} Issue Activity
    %li
      %a{ :href=> "/code/builds/"} Build Status
    %li
      %a{ :href=> "/code/dashboard/"} Repository Dashboard
