<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{#if page.title}{page.title} &#183; {/if}{site.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{page.description ?: site.description}">
    {#if site.data.keywords}
    <meta name="keywords" content="{site.data.keywords}">
    {/if}
    {#if page.data.author}
    <meta name="author" content="page.data.author}">
    {/if}
    {#if site.url}
    <link rel="canonical" href="{site.url}">
    {/if}
    <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="Arquillian blog Atom feed">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <script src="/javascripts/jquery-jgfeed.js"></script>
    <script src="/javascripts/jquery-scroll.js"></script>
    <script src="/javascripts/jquery-timer.js"></script>
    <script src="/javascripts/jsrender.js"></script>
    <script src="/javascripts/prettify.js"></script>
    <script src="/javascripts/site.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body class="{page.data.body_class}">
    <header id="banner" class="navbar navbar-fixed-top" role="banner">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">
                    <span class="logo"></span>
                    <span class="name">{site.title}</span>
                </a>
                <nav class="nav-collapse" role="navigation">
                    <ul class="nav">
                        {#for item in cdi:menu.items}
                        <li class="{#if page.url.absolute.startsWith(item.path)}active{/if}">
                            <a href="{item.path}" {#if item.target}target="{item.target}"{/if}>
                                {#if item.icon}<i class="{item.icon}"></i> {/if}{item.title}
                            </a>
                        </li>
                        {/for}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    {#insert content}No Content!{/}
    
    <footer>
        <div class="container">
            <div class="project">
                <img src="{site.image('arquillian_logo_200px.png').absolute}">
                <p class="bottom">
                    &#169; Copyright 2009-{java:java.time.Year.now()} Red Hat, Inc and contributors.
                    <br>
                    <i class="icon-fire"></i>
                    Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>. Baked by <a href="https://quarkus.io/extensions/io.quarkiverse.roq/quarkus-roq">Quarkus ROQ</a>.
                    <br>
                    <i class="icon-share-alt"></i>
                    Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
                    <br>
                    Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
                </p>
            </div>
            <div class="footer-nav">
                <h4>Learn</h4>
                <ul>
                    <li>
                        <a href="/invasion">Mission</a>
                    </li>
                    <li>
                        <a href="/features">Features</a>
                    </li>
                    <li>
                        <a href="/docs">Documentation</a>
                    </li>
                    <li>
                        <a href="/guides">Guides</a>
                    </li>
                    <li>
                        <a href="https://docs.jboss.org/author/display/ARQ/Home.html">Manual</a>
                    </li>
                    <li>
                        <a href="https://community.jboss.org/en/arquillian/faq">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav">
                <h4>Get Involved</h4>
                <ul>
                    <li>
                        <a href="http://community.jboss.org/en/arquillian?view=discussions">Forums</a>
                    </li>
                    <li>
                        <a href="https://issues.jboss.org/browse/ARQ">Issue Tracker</a>
                    </li>
                    <li>
                        <a href="https://github.com/arquillian">Source Code</a>
                    </li>
                    <li>
                        <a href="/community/contributors">Contributors</a>
                    </li>
                    <li>
                        <a href="https://community.jboss.org/groups/testing">Testing SIG</a>
                    </li>
                </ul>
            </div>
            <div class="sponser">
                <div class="follow-us">
                    <h4>Stay Informed</h4>
                    <ul>
                        <li>
                            <a href="https://twitter.com/#!/search/%23arquillian">
                                <img src="{site.image('social/twitter-16.png')}" alt="Twitter" title="Browse the #arquillian hashtag on Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/groups?gid=3120340">
                                <img src="{site.image('social/linkedin-16.png')}" alt="LinkedIn" title="Join the Arquillian group on LinkedIn">
                            </a>
                        </li>
                        <li>
                            <a href="http://vimeo.com/channels/arquillian">
                                <img src="{site.image('social/vimeo-16.png')}" alt="Vimeo" title="Follow the Arquillian channel on Vimeo">
                            </a>
                        </li>
                    </ul>
                </div>
                <p>
                    This website is open source! If you want to improve it, <a href="http://github.com/arquillian/arquillian.github.com">fork the project</a>, hack on it, then send a <a href="https://help.github.com/articles/using-pull-requests">pull request</a>. You can also view the <a href="http://www.seethestats.com/site/arquillian.org">visitor stats</a>.
                </p>
                <p class="image">
                    <a href="http://jboss.org"><img src="{site.image('jboss_redhat_branding.png')}" alt="Red Hat, Inc."></a>
                </p>
                <p>
                    Arquillian is a <a href="http://jboss.org">JBoss Community</a> project and development is sponsored by Red Hat, Inc.
                </p>
                <p class="bottom">
                    <a href="http://www.redhat.com/legal/legal_statement.html">Terms of Use</a> | <a href="http://www.redhat.com/legal/privacy_statement.html">Privacy Policy</a>
                </p>
            </div>
            <a id="toTop" class="visible-desktop" href="#">Top</a>
        </div>
    </footer>
    
    <script>
        $(function() {
            $('html').addClass('ready');
            prettify();
            activateFooterGravity();
            activateTooltips();
            activateToTopControl();
        });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js"></script>
    <script src="/javascripts/prettify.js"></script>
    <script src="/javascripts/site.js"></script>
</body>
</html>