---
layout: default
---
<div id="content" class="guide">
    {#insert /}
</div>
<aside id="sidebar" role="complementary">
    <div class="contribute">
        <h3>Contribute</h3>
        <p>
            Found a typo or error? Want to improve this guide? The source is available on <a href="https://github.com/arquillian/arquillian.github.io">GitHub</a>.
        </p>
        <p>
            <a href="https://github.com/arquillian/arquillian.github.io/edit/develop/guides/" class="btn btn-primary">Edit this guide</a>
        </p>
    </div>
</aside>