{#include guide-base}
{#content}
<div class="guide-header">
    <h1>{page.title}</h1>
    <div class="author">
        {#if page.data.authors}
        <span class="by">By</span>
        {#for author in page.data.authors}
        <span class="name">{author}</span>{#if !loop.last}, {/if}
        {/for}
        {/if}
        {#if page.data.translators}
        <span class="translators">
            <span class="by">Translated by</span>
            {#for translator in page.data.translators}
            <span class="name">{translator}</span>{#if !loop.last}, {/if}
            {/for}
        </span>
        {/if}
    </div>
    <div class="meta">
        <div class="tags">
            {#if page.data.tags}
            <span class="label">Tags</span>
            {#for tag in page.data.tags}
            <span class="tag">{tag}</span>{#if !loop.last}, {/if}
            {/for}
            {/if}
        </div>
    </div>
</div>

<div class="guide-summary">
    {page.data.description}
</div>

<div class="guide-content">
    {page.rawContent}
</div>

{/content}
{/include}