---
layout: base
---

<div id="main" role="main" class="home">
    <div id="intro">
        <div class="container">
            <div class="hgroup">
                <h1>{page.title}</h1>
                <h2>{page.description}</h2>
            </div>
            <div class="aside">
                <p>
                    <a href="{site.url('/guides/getting_started')}" class="btn btn-primary btn-large">Get Started Now</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="content">
            <section id="primary">
                {#insert} No Body!{/}
            </section>
            <aside>
                <div class="latest-release">
                    <h3>Latest Release</h3>
                    {#let latest_release=cdi:releases.list.get(0)}
                    <div class="release">
                        <h4><a href="{latest_release.url}">{latest_release.title}</a></h4>
                        <p class="version">{latest_release.version}</p>
                        <p class="date">{latest_release.date.format('MMM dd, yyyy')}</p>
                    </div>
                    {/let}
                </div>
                <div class="latest-posts">
                    <h3>Latest Blog Posts</h3>
                    <ul>
                        {#for post in site.collections.posts limit=5}
                        <li>
                            <a href="{post.url}">{post.title}</a>
                            <span class="date">{post.date.format('MMM dd, yyyy')}</span>
                        </li>
                        {/for}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
