@mixin font-face-variant($name, $variant, $font-files, $eot: false) {
  $iefont: unquote("#{$eot}?iefix");
  @font-face {
    font-family: quote($name);
    @if $variant == 'normal' {
      font-weight: normal;
      font-style: none;
    }
    @else if $variant == 'bold' {
      font-weight: bold;
      font-style: none;
    }
    @else if $variant == 'italic' {
      font-weight: normal;
      font-style: italic;
    }
    @else if $variant == 'bold italic' {
      font-weight: bold;
      font-style: italic;
    }
    @if $eot {
      src: font-url($eot);
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files;
    }
    src: $font-files;
  }
}

@mixin tag-cloud-groups($groups, $increment: .1) {
  @for $n from 0 through ($groups - 1) {
    .tag-#{$n} {
      font-size: #{1 + $n * $increment}em;  
    }
  }
}
