//**************//
// Grid Settings
//**************//
$blueprint-grid-columns: 24;
$blueprint-container-size: 1140px;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 18px;

//********************//
// Blueprint Constants
//********************//

//$blueprint-font-family: "MuseoSans", Verdana, sans-serif;
// also consider Georgia
$blueprint-font-family: Verdana, sans-serif;
$blueprint-font-size: 14px;

$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 1px;

$sprite-default-size: 60px;
$sprite-image-default-width: $sprite-default-size;
$sprite-image-default-height: $sprite-default-size;

//********//
// Imports
//********//

@import "compass/reset";
@import "compass/css3";
@import "blueprint";
@import "blueprint/link-icons";
@import "sassy-buttons";

//*******//
// Palette
//*******//

//*******//
// Mono
//*******//

$palette_white: rgb(255,255,255);
$palette_gray60: rgb(102,102,102);
$palette_gray: rgb(111,114,104);

//*******//
// Green
//*******//

$palette_green_link: rgba(175,217,24,1);
$palette_yellow_green: rgba(165,146,20,1);
$palette_light_green: rgb(235,242,220);
$palette_lime_green: rgb(214,244,149);
$palette_medium_green: rgb(64,155,68);
$palette_military_green: rgb(100,114,70);
$palette_bright_green: rgb(153,240,86);
//$palette_puce: rgba(104,114,11,1);
$palette_puce: rgba(88,77,2,1);

//*******//
// Blue
//*******//

$palette_light_blue: rgb(127,184,191);
$palette_medium_blue: rgb(88,112,115);
$palette_bright_blue: rgba(109,183,191,1); //used for footer
$palette_brightest_blue: rgba(116,195,204,1);

//*******//
// Purple
//*******//

$palette_light_purple: rgba(158,87,217,1);
$palette_bright_purple: rgba(112,62,153,1);
$palette_darker_purple: rgba(65,36,90,1);
$palette_lightbase_purple: rgba(120,67,166,1);
$palette_darkish_purple: rgba(74,41,103,1);
$palette_lightalmostsat_purple: rgba(175,97,243,1);
$palette_lightsat_purple: rgba(184,102,255,1);
//$palette_dark_lav: rgb(153,117,165);
//$palette_light_purple: rgba(161,99,190,1);
//$palette_bright_purple: rgba(142,42,190,1);
//$palette_gray_purple: rgba(116,71,137,1);
//$palette_pitch_purple: rgba(85,25,114,1);
$palette_pitchier_purple: rgba(56,31,77,1); //used for banner bar

//*******//
// Earth
//*******//

$palette_orange: rgb(248,147,27);
$palette_dark_orange: rgb(253,94,40);
$palette_light_terra: rgb(166,64,51);
$palette_dark_terra: rgb(140,61,51);

//*******//
// Palette Assignments
//*******//

$banner_background_color: $palette_pitchier_purple;
$banner_link_color: $palette_lightsat_purple;
$banner_link_hover_color: $palette_green_link;
$page_background_color: $palette_light_green;
//$link_color: $palette_medium_green;
$h_color: $palette_orange;
$link_color: $palette_gray60;
$link_hover_color: $palette_green_link;
$link_visited_color: $link_color;
//$link_hover_color: $link_color - #222;
$link_active_color: $palette_green_link;
//$link_active_color: $palette_dark_terra - #111;
$light_border: $palette_gray + #666666;
$footer_base_color: $palette_darker_purple;
$cta_button_color: $palette_green_link;
//$cta_button_color: #40CC1D;
