//Palette, colors mostly (but don't hold me to it) go from light shades to dark shades within categories

//Mono
$palette_white: rgba(255,255,255,1);
$palette_white_20trans: (255,255,255,.8);
$palette_white_50trans: (255,255,255,.5);
$palette_white_80trans: (255,255,255,.2);
$palette_10gray: rgba(230,230,230,1);
$palette_20gray: rgba(204,204,204,1);
$palette_25gray: rgba(197,197,197,1); //guide icon
$palette_30gray: rgba(179,179,179,1);
$palette_40gray: rgba(153,153,153,1);
$palette_50gray: rgba(128,128,128,1);
$palette_50gray_20trans: rgba(128,128,128,.8);
$palette_50gray_50trans: rgba(128,128,128,.5);
$palette_50gray_80trans: rgba(128,128,128,.2);
$palette_60gray: rgba(102,102,102,1);
$palette_70gray: rgba(77,77,77,1);
$palette_80gray: rgba(51,51,51,1); //default font color
$palette_90gray: rgba(26,26,26,1);
$palette_black: rgba(0,0,0,1);
$palette_black_20trans: rgba(0,0,0,.8);
$palette_black_50trans: rgba(0,0,0,.5);
$palette_black_80trans: rgba(0,0,0,.2);
//$palette_gray: rgb(111,114,104);
//$palette_test: rgb(209,156,255);
//$palette_test1: rgb(225,194,252);

//Green

$palette_soft_green: rgba(157,219,65,1); //guide icon
$palette_yellow_green: rgba(229,255,11,1);
$palette_lime: rgba(126,240,38,1);
$palette_kelly_green: rgba(175,217,24,1); //link hover
$palette_green: rgba(99,189,38,1);
$palette_forest: rgba(59,112,18,1);

//Blue

$palette_cyan: rgba(38,240,194,1);
$palette_sky: rgba(0,163,126,1);
$palette_blue: rgba(22,101,138,1);
$palette_cerulean: rgba(23,84,112,1);

//Pink to Purple

$palette_pink: rgba(255,91,112,1);
$palette_fuchsia: rgba(248,27,57,1);
$palette_lavender: rgba(226,38,240,1);
$palette_violet: rgba(152,0,163,1);
$palette_pale_lavender: rgba(213,216,206,1);
$palette_lightest_purple: rgba(220,181,255,1);
$palette_lighter_purple: rgba(197,161,230,1);
$palette_light_purple: rgba(158,87,217,1); //nav links
$palette_bright_purple: rgba(112,62,153,1);
$palette_dark_purple: rgba(65,36,90,1);
$palette_pitch_purple: rgba(56,31,77,1); //nav and footer base

//Earth

$palette_soft_yellow: rgba(245,190,86,1); //guide icon
$palette_mid_yellow: rgba(247,197,25,1); //guide icon
$palette_yellow: rgba(248,240,27,1);
$palette_gold: rgba(255,222,62,1);
$palette_mustard: rgba(227,71,21,1);
$palette_light_orange: rgba(248,147,27,1);
$palette_orange: rgba(253,94,40,1);
$palette_burnt_orange: rgba(217,44,24,1);
$palette_soft_red: rgba(232,77,44,1); //guide icon
$palette_light_terra: rgba(166,64,51,1);
$palette_terra: rgba(140,61,51,1);

//Stylesheet color variable assignments

$logo_font_color: $palette_white;
$page_background_color: $palette_10gray;
$light_border: $palette_pale_lavender;

$h1_color: $palette_dark_purple;
$h2_color: $palette_dark_purple;
$h3_color: $palette_light_orange;
$h4_color: $palette_80gray;
$h5_color: $palette_80gray;
$aside_header_color: $palette_dark_purple;
$default_font_color: $palette_80gray;
$text_photo_background_color: $palette_10gray;
$link_color: $palette_60gray;
$link_hover_color: $palette_kelly_green;

$banner_background_color: $palette_pitch_purple;
$banner_link_color: $palette_10gray;
$banner_link_hover_color: $palette_kelly_green;

$intro_background_color: $palette_white;
$home_header_background_color: $palette_white;
$log_title_color: $palette_dark_purple;
$log_detail_color: $palette_dark_purple;
$cta_button_color: $palette_green;
$activity_header_color: $palette_dark_purple;
$activity_background_color: $palette_white;
$rally_color: $palette_cerulean;

$invasion_tab_color: $palette_light_purple;
$invasion_tab_border_color: $palette_dark_purple;
$tweet_row_color: $palette_10gray;
$team_name_color: $palette_orange;
$blockquote_text_color: $palette_80gray;
$blockquote_quote_color: $palette_80gray;
$blockquote_citation_color: $palette_70gray;

$blog_title_color: $palette_dark_purple;
$aside_header_color: $palette_dark_purple;

$guide_page_background_color: $palette_white;
$guide_page_header_background_color: $palette_50gray;
$guide_button_text_active_color: $palette_kelly_green;
$guide_dropdown_color: $palette_white;
$guide_author_name_color: $palette_60gray;
$guide_content_background_color: $palette_white;
$guide_h3_color: $palette_burnt_orange;
$guide_h4_color: $palette_bright_purple;
$chapter_header_color: $palette_sky;
$chapter_title_color: $palette_blue;

$info_box_background_color: $palette_soft_green;
$important_box_background_color: $palette_soft_red;
$warning_box_background_color: $palette_soft_yellow;
$command_box_background_color: $palette_25gray;
$source_box_background_color: $palette_mid_yellow;
$filetree_background_color: $palette_pale_lavender;

$footer_base_color: $palette_pitch_purple;
$footer_header_color: $palette_lightest_purple;
$footer_link_color: $palette_10gray;
$footer_text_color: $palette_10gray;
$branding_background_color: $palette_white;

// Font family settings
$default_font_family: Verdana, sans-serif;
$header_font_family: "MarvelSans", sans-serif;
// QUESTION do we need block fixed and inline fixed?
// TODO apply fixed font to _prettify.scss
$fixed_font_family: "DejaVu Sans Mono", "Droid Sans Mono", "Courier New", monospace;
$nav_font_family: $header_font_family;
$button_font_family: $header_font_family;
$fancy_font_family: Georgia, serif;
// QUESTION should the footer have a different font?
$footer_font_family: "MuseoSans", sans-serif;

// Blueprint Typography Settings

$blueprint-font-family: $default_font_family;
$blueprint-fixed-font-family: $fixed_font_family;
$blueprint-font-size: 14px;
$blueprint-font-color: $default_font_color;

// NOTE: blueprint variables use hypen
$link-color: $link_color;
$link-hover-color: $link_hover_color;
$link-focus-color: $link-hover-color;
$link-active-color: $link-hover-color;
$link-visited-color: $link-color;

//Blueprint Grid Settings

$blueprint-grid-columns: 24;
$blueprint-container-size: 1140px;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 18px;

// Compass Settings

$default-text-shadow-color: $palette_50gray_50trans;
$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 1px;

$default-border-radius: 4px;

$default-box-shadow-color: $palette_50gray_50trans;
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 4px;

$sprite-default-size: 60px;
$sprite-image-default-width: $sprite-default-size;
$sprite-image-default-height: $sprite-default-size;

// Imports

@import "compass/reset";
@import "compass/css3";
// blueprint imports the blueprint grid mixins (e.g. column)
@import "blueprint";
@import "blueprint/link-icons";
@import "sassy-buttons";
