// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

//$blueprint-grid-columns: 24;
//$blueprint-container-size: 950px;
//$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
//$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$blueprint-font-family: 'Helvetica Neue', Arial, sans-serif;
$blueprint-font-size: 14px;

$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 1px;

// colors:
// light blue - rgb(127,184,191)
// dark blue - rgb(88,112,115)
// light red - rgb(166,64,51)
// dark red - rgb(140,61,51)
// purple - rgb(56,31,77)
// off white - rgb(235,242,220)
// lime - rgb(214,244,149)
// mid green - rgb(64,155,68)
// mil green - rgb(100,114,70)
// dark lavendar - rgb(153,117,65)

// ike eye - rgb(54,67,72)

$palette_white: rgb(255,255,255);
$palette_light_blue: rgb(127,184,191);
$palette_medium_blue: rgb(88,112,115);
$palette_light_terra: rgb(166,64,51);
$palette_dark_terra: rgb(140,61,51);
$palette_purple: rgb(56,31,77);
$palette_light_green: rgb(235,242,220);
$palette_lime_green: rgb(214,244,149);
$palette_medium_green: rgb(64,155,68);
$palette_military_green: rgb(100,114,70);
$palette_bright_green: rgb(153,240,86);
$palette_dark_lav: rgb(153,117,165);
$palette_ike_eye: rgb(54,67,72);
$palette_gray: rgb(111,114,104);

$banner_background_color: $palette_ike_eye;
$banner_link_color: $palette_white;
$banner_link_hover_color: $palette_lime_green;
$page_background_color: $palette_light_green;
$link_color: $palette_medium_green;
$link_visited_color: $link_color;
$link_hover_color: $link_color - #222;
$link_active_color: $palette_dark_terra - #111;
$light_border: $palette_gray + #666666;
