/* plain text */
.pln {
  color: #000;
}

@media screen {
  /* string content */
  .str {
    color: #080;
  }
  /* a keyword */
  .kwd {
    color: #008;
  }
  /* a comment */
  .com {
    color: #800;
  }
  /* a type name */
  .typ {
    color: #606;
  }
  /* a literal value */
  .lit {
    color: #066;
  }
  /* an annotation */
  .ann {
    color: #666;
  }
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo {
    color: #000;
  }
  /* a markup tag name */
  .tag {
    color: #008;
  }
  /* a markup attribute name */
  .atn {
    color: #606;
  }
  /* a markup attribute value */
  .atv {
    color: #080;
  }
  /* a declaration; a variable name */
  .dec, .var {
    color: #606;
  }
  /* a function name */
  .fun {
    color: red;
  }
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun, .opn, .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}

/* code snippet bounding box */
pre.prettify, pre.command {
  padding: 8px 1px 8px 10px;
  border: 1px solid #AAA;
  font-size: 14px;
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  @include border-radius(5px);
  @include single-box-shadow(#CCC, 1px, 1px, 5px);
  overflow-x: auto;
}

pre.prettify.noborder, pre.command.noborder {
  border: 0;
  @include border-radius(0);
  @include box-shadow(none);
  padding: 0;
}

pre.command {
  background: image-url("command.png") no-repeat 3px 3px;
  padding: 14px 10px 14px 50px;
}

/* Include linenums class on pre element to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 34px;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  /*list-style-type: none*/
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
