---
---
- #http://www.jboss.org/help/awestructguide/projectpropertyfilestruction.html
- values = {}
- #Root
- values['nodePath']= site.jboss_org_node_path
- values['projectName']= site.title
- values['homePage']= site.base_url
- values['license']= 'ASL'
- values['description'] = site.description

- #Doc Links (1 max)
- values['docsLink']= "#{site.base_url}/guides"

- #Community Links (4 max)
- values['knowledgeBaseLink']= site.ref_guide
- values['userForumLink']= site.user_forum
- values['devForumLink']= site.dev_forum
- values['blogLink']= "#{site.base_url}/blog"

- #Source Code (2 max)
- values['githubLink']= site.source_repo

- #Issue Tracker (1 max)
- values['issueTrackerLink']= site.issue_tracker

- for key in values.keys
    #{key}=#{values[key]}
