---
layout: invasion
title: Transmissions
javascripts: [ /javascripts/jquery-tweet.js ]
---
%p Testimonials here or below
.tweet
  :javascript
    jQuery(function($) {
      $(".tweet").tweet({
        query: "#arquillian",
        avatar_size: 48,
        count: 10,
        loading_text: "Loading tweets...",
        intro_text: 'Tweets mentioning <a href="https://twitter.com/#!/search/%23arquillian">#arquillian</a>',
        outro_text: 'See more results for <a href="https://twitter.com/#!/search/%23arquillian">#arquillian</a> on twitter.com...'
      });
    });
