---
layout: invasion
title: Arquillian Invasion!
---
:textile
   Arquillian is a platform that simplifies integration testing for Java middleware. It deals with all the plumbing of container management, deployment and framework initialization so you can focus on the task at hand, writing your tests. Real tests.

   h2. Arquillian makes integration testing a breeze!

   Arquillian minimizes the burden on you--the developer--by covering aspects surrounding test execution, including:

   * Managing the lifecycle of the container (start/stop),
   * Bundling the test class with dependent classes and resources into a deployable archive,
   * Enhancing the test class (e.g., resolving @@Inject@, @@EJB@ and @@Resource@ injections),
   * Deploying the archive to test (deploy/undeploy) and
   * Capturing results and failures.

   To avoid introducing unnecessary complexity into the developer's build environment, Arquillian integrates seamlessly with familiar testing frameworks (e.g., JUnit 4, TestNG 5), allowing tests to be launched using existing IDE, Ant and Maven test plugins -- without any add-ons.

   Grab the <a href="http://docs.jboss.org/arquillian/arquillian-datasheet.pdf" target="_blank">Arquillian datasheet</a> for a take home overview of the Arquillian testing platform.
