---
layout: invasion
title: Community Press
---
%script{ :type=>'text/javascript', :src=>'/javascripts/jquery.tmpl.js' }
%script{ :type=>'text/javascript', :src=>'/javascripts/jquery.jgfeed.js' }
%script{ :id=> 'diigo-tmpl', :type=>'text/x-jquery-tmpl'}    
  %tr
    %td
      %a{ :href=> "${link}"} 
        ${title}
    %td ${publishedDate}
    %td {{html content}}

#diigo.feed
  %table#diigo_feed.data
    %tr
      %th Title
      %th Date
      %th Description

%div
  %a{:href=>'http://diigo.com/user/jbosstesting/arquillian'} See all Arquillian community press on diigo.com &raquo;

:javascript
  $.jGFeed('http://www.diigo.com/rss/user/jbosstesting',
    function(feeds){
      if(!feeds){
        return false;
      }
      $('#diigo-tmpl').tmpl(feeds.entries).appendTo('#diigo_feed');
    }, 10);
