---
layout: invasion
title: Press
---
%script{:type=>'text/javascript', :src=>'/javascripts/jquery-tmpl.js'}
%script{:type=>'text/javascript', :src=>'/javascripts/jquery-jgfeed.js'}
%script#diigo_tmpl{:type=>'text/x-jquery-tmpl'}
  .entry
    .header
      %h2.title
        %a{:href=>'${link}'} ${title}
      %p.meta Posted ${publishedDateMonth} ${publishedDateOfMonth} on ${source}
    .body
      {{html content}}
#diigo.feed
%div
  %a{:href=>'http://diigo.com/user/jbosstesting/arquillian'} See all Arquillian community press on diigo.com &raquo;

:javascript
  Date.prototype.monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  Date.prototype.getUTCMonthName = function() {
    return this.monthNames[this.getUTCMonth()];
  };
  Date.prototype.getUTCShortMonthName = function() {
    return this.getUTCMonthName().substr(0, 3);
  };
  $.jGFeed('http://www.diigo.com/rss/user/jbosstesting',
    function(feeds) {
      if (!feeds) {
        return false;
      }
      $.each(feeds.entries, function(idx, entry) {
        entry.source = entry.link.match(/https?:\/\/([^\/]+)/)[1];
        var d = new Date(entry.publishedDate);
        // years are totally wrong
        entry.publishedDateYear = d.getFullYear();
        entry.publishedDateMonth = d.getUTCShortMonthName();
        entry.publishedDateOfMonth = d.getUTCDate();
        if (entry.publishedDateOfMonth < 10) {
          entry.publishedDateOfMonth = '0' + entry.publishedDateOfMonth;
        }
      });
      $('#diigo_tmpl').tmpl(feeds.entries).appendTo('#diigo');
    }, 15);
