---
layout: invasion
title: Spread Ike!
---
:textile
  Help spread Ike around the world. Grab a logo and use it to promote Ike's message:

  bq. Don't mock me. Write real tests!

  !{float: right; margin-right: 1.5em; margin-left: 10px;}/images/cool_stuff.jpg! The artwork for JBoss Community projects is created by the JBoss design team. The "Arquillian artwork":http://design.jboss.org/arquillian includes a logo, an icon ("named Ike":/blog/2010/07/03/ike-a-developer-magnet-at-judcon-and-jbossworld), mood icons and a desktop wallpaper. You can also get "swag":http://www.cafepress.com/jbossorg/7125835 (t-shirts, buttons, etc...) printed with the logo or icon.

  h3. Logos
    
  If you are using Arquillian in your project and want to include it on your project page or in a presentation, you may be interested in using one of the logos below. To download, right click the image and choose "Save Image As..."

  !http://design.jboss.org/arquillian/logo/final/arquillian_logo_600px.png!

  Available sizes: "600px":http://design.jboss.org/arquillian/logo/final/arquillian_logo_600px.png | "450px":http://design.jboss.org/arquillian/logo/final/arquillian_logo_450px.png | "200px":http://design.jboss.org/arquillian/logo/final/arquillian_logo_200px.png | "100px":http://design.jboss.org/arquillian/logo/final/arquillian_logo_100px.png

  h3. Icons

  If you are looking for just the icon (Ike), grab one of these:

  !http://design.jboss.org/arquillian/logo/final/arquillian_icon_256px.png!

  Available sizes: "256px":http://design.jboss.org/arquillian/logo/final/arquillian_icon_256px.png | "64px":http://design.jboss.org/arquillian/logo/final/arquillian_icon_64px.png | "32px":http://design.jboss.org/arquillian/logo/final/arquillian_icon_32px.png | "24px":http://design.jboss.org/arquillian/logo/final/arquillian_icon_24px.png | "16px":http://design.jboss.org/arquillian/logo/final/arquillian_icon_16px.png | "16px (favicon)":http://design.jboss.org/arquillian/logo/final/arquillian_icon_16px.ico

  h3. Emotional Ike Icons

  Ike is an emotional character. He cheers when the built succeeds. But he gets down, sometimes furious, when the build fails. We've created icons to reflect his emotional state. Look for them in the build indicator column on the "builds status page":/code/builds.

  <div style="float: left; margin-right: 10px;">
  !http://design.jboss.org/arquillian/logo/ui/images/success/arquillian_ui_success_256px.png!

  Available sizes: "256px":http://design.jboss.org/arquillian/logo/ui/images/success/arquillian_ui_success_256px.png | "64px":http://design.jboss.org/arquillian/logo/ui/images/success/arquillian_ui_success_64px.png | "32px":http://design.jboss.org/arquillian/logo/ui/images/success/arquillian_ui_success_32px.png | "24px":http://design.jboss.org/arquillian/logo/ui/images/success/arquillian_ui_success_24px.png
  </div>

  <div style="float: left;">
  !http://design.jboss.org/arquillian/logo/ui/images/warning/arquillian_ui_warning_256px.png!

  Available sizes: "256px":http://design.jboss.org/arquillian/logo/ui/images/warning/arquillian_ui_warning_256px.png | "64px":http://design.jboss.org/arquillian/logo/ui/images/warning/arquillian_ui_warning_64px.png | "32px":http://design.jboss.org/arquillian/logo/ui/images/warning/arquillian_ui_warning_32px.png | "24px":http://design.jboss.org/arquillian/logo/ui/images/warning/arquillian_ui_warning_24px.png
  </div>

  <div style="float: left; margin-right: 10px;">
  !http://design.jboss.org/arquillian/logo/ui/images/error/arquillian_ui_error_256px.png!

  Available sizes: "256px":http://design.jboss.org/arquillian/logo/ui/images/error/arquillian_ui_error_256px.png | "64px":http://design.jboss.org/arquillian/logo/ui/images/error/arquillian_ui_error_64px.png | "32px":http://design.jboss.org/arquillian/logo/ui/images/error/arquillian_ui_error_32px.png | "24px":http://design.jboss.org/arquillian/logo/ui/images/error/arquillian_ui_error_24px.png
  </div>

  <div style="float: left;">
  !http://design.jboss.org/arquillian/logo/ui/images/failure/arquillian_ui_failure_256px.png!

  Available sizes: "256px":http://design.jboss.org/arquillian/logo/ui/images/failure/arquillian_ui_failure_256px.png | "64px":http://design.jboss.org/arquillian/logo/ui/images/failure/arquillian_ui_failure_64px.png | "32px":http://design.jboss.org/arquillian/logo/ui/images/failure/arquillian_ui_failure_32px.png | "24px":http://design.jboss.org/arquillian/logo/ui/images/failure/arquillian_ui_failure_24px.png
  </div>

  h3(clear). Desktop Wallpaper

  If you really want to show your Arquillian pride, grab the desktop wallpaper. Choose the the appropriate resolution below for your monitor, tablet, or mobile phone.

  !http://design.jboss.org/arquillian/desktop/images/arquillian_desktop_800x600.jpg!

  Resolutions: "iPhone":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_iphone.jpg | "1024x768":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1024x768.jpg | "1024x800":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1024x800.jpg | "1280x800":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1280x800.jpg | "1440x900":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1440x900.jpg | "1600x1200":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1600x1200.jpg | "1680x1050":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1680x1050.jpg | "1920x1200":https://www.jboss.org/dms/coolstuff/desktops/arquillian/arquillian_desktop_1920x1200.jpg

  h3. Swag

  Show your Arquillian spirit and passion for testing on the streets by sporting some of the Arquillian gear from the CafePress store. Items available include t-shirts, buttons, pint glasses, mugs, water bottles and more.

  "!/images/tshirt.jpg!":http://www.cafepress.com/jbossorg/7125835 "!/images/buttons.jpg!":http://www.cafepress.com/jbossorg/7125835
