---
layout: invasion
title: Invasion Team
---
%h2 Simplified integration testing forks from here!

%p Meet the team leading the invasion and join our innovation effort to make Java enterprise testing simple and powerful. Innovation begins in the forks and spreads throughout the community.

%ul.team
  %li
    %img{:src=>'http://gravatar.com/avatar/3f27861ec08730fd02c91fe4129d2668?s=60', :width=>60, :height=>60, alt=>'Aslak'}
    %h3 Aslak Knutsen
    %strong Arquillian Lead
    %em Oslo, Norway
  %li
    %img{:src=>'http://gravatar.com/avatar/9be5bfc3104c3702712413ff986fe45b?s=60', :width=>60, :height=>60,  alt=>'Ike'}
    %h3 Ike
    %strong Mascot, Prince
    %em Above the clouds
  %li
    %img{:src=>'http://gravatar.com/avatar/4369758fcee235bebd875f0de34aa42e?s=60', :width=>60, :height=>60,  alt=>'Andrew'}
    %h3 Andrew Lee Rubinger
    %strong ShrinkWrap Lead
    %em Boston, MA, USA
  %li
    %img{:src=>'http://gravatar.com/avatar/dcccd96c499963133f7f95e7ffa20c4e?s=60', :width=>60, :height=>60,  alt=>'Dan'}
    %h3 Dan Allen
    %strong Community Liasion
    %em Laurel, MD, USA
  %li
    %img{:src=>'http://gravatar.com/avatar/88ab3950e925b4ad37c5d7302d854e87?s=60', :width=>60, :height=>60,  alt=>'Karel'}
    %h3 Karel Piwko
    %strong Drone Extension Lead
    %em Brno, Czech Republic
  %li
    %img{:src=>'http://gravatar.com/avatar/4ebf34d2cbe74a29138a6d1e477ab4c8?s=60', :width=>60, :height=>60,  alt=>'Pete'}
    %h3 Pete Muir
    %strong Cofounder
    %em Edinburgh, Scotland, UK
