---
layout: invasion
title: Invasion Team
---
%h2 Simplified integration testing forks from here!

%p Meet the team leading the invasion and join our innovation effort to make Java enterprise testing simple and powerful! We believe innovation spawns from the forks and spreads throughout the community. The project also benefits tremendously from participation by the JBoss QE team.

%ul.team
  %li
    %a{:href=>'http://github.com/aslakknutsen'}
      %img{:src=>'http://gravatar.com/avatar/3f27861ec08730fd02c91fe4129d2668?s=60', :width=>60, :height=>60, alt=>'Aslak Knutsen'}
    %h3 Aslak Knutsen
    %strong Arquillian Lead
    %em Oslo, Norway
  %li
    %a{:href=>'http://github.com/alrubinger'}
      %img{:src=>'http://gravatar.com/avatar/4369758fcee235bebd875f0de34aa42e?s=60', :width=>60, :height=>60, alt=>'Andrew Lee Rubinger'}
    %h3 Andrew Lee Rubinger
    %strong ShrinkWrap Lead
    %em Boston, MA, USA
  %li
    %a{:href=>'http://github.com/kpiwko'}
      %img{:src=>'http://gravatar.com/avatar/88ab3950e925b4ad37c5d7302d854e87?s=60', :width=>60, :height=>60, alt=>'Karel Piwko'}
    %h3 Karel Piwko
    %strong Drone Extension Lead
    %em Brno, Czech Republic
  %li
    %a{:href=>'http://github.com/mojavelinux'}
      %img{:src=>'http://gravatar.com/avatar/dcccd96c499963133f7f95e7ffa20c4e?s=60', :width=>60, :height=>60, alt=>'Dan Allen'}
    %h3 Dan Allen
    %strong Community Liasion
    %em Laurel, MD, USA
  %li
    %a{:href=>'http://github.com/arquillian'}
      %img{:src=>'http://gravatar.com/avatar/9be5bfc3104c3702712413ff986fe45b?s=60', :width=>60, :height=>60, alt=>'Ike'}
    %h3 Ike
    %strong Mascot, Protector
    %em Above the clouds
  %li
    %a{:href=>'http://github.com/pmuir'}
      %img{:src=>'http://gravatar.com/avatar/4ebf34d2cbe74a29138a6d1e477ab4c8?s=60', :width=>60, :height=>60, alt=>'Pete Muir'}
    %h3 Pete Muir
    %strong Cofounder
    %em Edinburgh, Scotland, UK
  %li
    %a{:href=>'/community/nobles'}
      %img{:src=>'/images/arquillian_crown_icon_glossy_256.png', :width=>60, :height=>60, alt=>'JBoss Community'}
    %h3 Nobles
    %strong Key Contributors
    %em Worldwide
  %li
    %a{:href=>'/community/contributors'}
      %img{:src=>'/images/jbosscommunity_logo_60px.png', :width=>60, :height=>60, alt=>'JBoss Community'}
    %h3 Community
    %strong Contributors
    %em Worldwide
  %li
    %img{:src=>'/images/jboss_logo_60px.png', :width=>60, :height=>60, alt=>'JBoss Community'}
    %h3 QE Team
    %strong Quality Assurance
    %em Brno, Czech Republic

%p.clear{:style=>'font-size: 1.5em; text-align: center; color: rgb(140,61,51);'}
  %strong Every contribution matters. Thanks for being part of the team!
