---
layout: invasion
title: Videos
javascripts: [ /javascripts/siphon-20120407.js ]
---
%script#video_tmpl{:type=>'text/x-jsrender'}
  .video
    .preview
      %a.thumbnail{:href => '{{:url}}', :target=>'_blank', :title=>'{{:title}}', :rel=>'popover',
        :data=>{:raw=>'Duration: {{:~format_duration(duration)}}+ Number of plays: {{:stats_number_of_plays}}+ Tags: {{:tags}}'}}
        %img{:src=>'{{:thumbnail_large}}'}
    .desc
      %h3 {{:title}}
      %p {{:~truncate(description, 400)}}
  {{if ~not_last()}}
  %hr.taper
  {{/if}}
%h2 Arquillian Videos on Vimeo
#videos

:javascript
  $.views.helpers({
    truncate: function(val, len) {
      return val.length < len ? val : (val.substr(0, len) + '...');
    },
    not_last: function() {
      var view = this;
      return view.index !== view.parent.data.length - 1;
    },
    format_duration: function(seconds) {
      duration = Math.floor(seconds / 60) + 'm'
      remainder = seconds % 60
      if (remainder > 0) {
        duration += ' ' + remainder + 's'
      }
      return duration
    } 
  });

  $.ajax({
    url: 'http://vimeo.com/api/v2/channel/arquillian/videos.json',
    dataType: 'jsonp',
    jsonp: 'callback',
    jsonpCallback: 'display_videos'
  });

  function display_videos(data) {
    $('#videos').html(
      $('#video_tmpl').render(data)
    );
    // may decide to put this in the paragraph rather than a popover
    $('#videos a[rel=popover]').popover({content: function() { return $(this).attr('data-raw').replace(/\+ /g, '<br/>')}});
  }
