<!DOCTYPE HTML>

<meta charset="UTF-8">
<meta http-equiv="refresh" content="5; url=%{url}">

%{google_analytics_universal}

<script>
window.location.href = "%{url}"
</script>

<title>Page Redirection</title>
Looks like you used an old link. We will redirect you to the <a href='%{url}'>right place</a> in a bit. }