---
---
-# This file is used when a custom release page (%REPOSITORY_PATH%-%VERSION%.textile) is not present.
-# It serves as a placeholder that's picked up by a factory for creating a page object in Awestruct.
