---
layout: default
title: Contributors
---
- page.title += " <small>#{site.identities.contributors().size}</small>"
#content
  %ul.contributors
    - site.identities.contributors().sort_by{|c| c.commits * Order::DESC}.each do |contributor|
      %li
        .photo
          %img{:src=>contributor.avatar_url(140), :title=>contributor.name}
          %ul
            %li
              - if contributor.blog
                %a{:href=>contributor.blog} Blog
              - else
                %span Blog
            %li
              - if contributor.twitter?
                %a{:href=>contributor.twitter.url} Twitter
              - else
                %span Twitter
            %li
              %a{:href=>contributor.github.profile_url} GitHub
        %h3= contributor.name
        %strong= contributor.company
        %em= contributor.location
  %p
    %strong Is your information incomplete? Is your profile picture missing?
    Make sure you link your gravatar to github, fill in your name, location and bio and link your gravatar to your twitter account.
