---
layout: base
title: Events
javascripts: [ http://cdn.lanyrd.net/badges/person-v1.min.js ]
---
#main
  .container
    %h1 Events
    Below are a list of upcoming speaking events for the members of the Arquillian team.
    %h2 Aslak
    .lanyrd-target-splat
      %a.lanyrd-splat.lanyrd-template-detailed{ :href=>'http://lanyrd.com/profile/aslakknutsen/', :rel=>'me' } See all of Aslak's upcoming appearances &raquo;
    %h2 Dan
    .lanyrd-target-splat
      %a.lanyrd-splat.lanyrd-template-detailed{ :href=>'http://lanyrd.com/profile/mojavelinux/', :rel=>'me' } See all of Dan's upcoming appearances &raquo;
    %h2 Andrew
    .lanyrd-target-splat
      %a.lanyrd-splat.lanyrd-template-detailed{ :href=>'http://lanyrd.com/profile/alrubinger/', :rel=>'me' } See all of Andrew's upcoming appearances &raquo;
