---
layout: default
title: Community
---
#content
  :textile 
    Being an open-source project, the Arquillian community has many entry-points. You're welcome to participate via one or several, depending on your level of interest.

    h2. Forums
  
    There are two forums under the Arquillian space in the JBoss Community site.
  
    * *top-level space* - Discussions for developers using Arquillian in their project
    * *dev subspace* - Discussions for developers contributing code or helping with the design of Arquillian

    <hr class="clear"/>
  
    h2. Chat (IRC) !/images/chat.png!

    !(screenshot)/images/screenshot-arquillian-irc.png!
  
    We invite you to join us in the #jbosstesting channel on irc.freenode.net to chat about Arquillian, ShrinkWrap and all other topics related to testing. This channel is "logged":http://transcripts.jboss.org/channel/irc.freenode.org/%23jbosstesting/index.html by JBossBot, who is also there to expand issue numbers from the issue tracker.

    <hr class="clear"/>
  
    h2. Issue Tracker !/images/jira.png(JIRA)!

    !(screenshot)/images/screenshot-arquillian-jira.png!
  
    The project tracks bugs, feature-requests, and other issues through the JIRA issue-tracking system at JBoss.org.
  
    To file issues or requests with JIRA, you must have a JBoss Community account (don't worry, signing up is easy).

    <hr class="clear"/>

    h2. Source Repository !/images/git_42.png(Git)!

    !(screenshot)/images/screenshot-arquillian-github.png!

    All the Arquillian source code is managed using the distributed version system "git":http://git-scm.com and hosted in sub-modules of the "arquillian organization":http://github.com/arquillian at github.com.

    Both git and github are awesome for collaboration! To make improvements or bug fixes to the Arquillian project, simply fork the project, commit your changes and send a pull request.

    <hr class="clear"/>
  
    h2. Arquillian Nobles
  
    We value the contributions made to Arquillian by our community. That's why we've setup a page for recognizing people who have made key contributions along the way. Find out who's been crowed by visiting the "Arquillian Nobles":nobles page.
