---
layout: default
title: Arquillian Nobles
---
#content{ :style=>'margin-right: 3px' }
  %img{ :src=>'/images/arquillian_crown_icon_glossy_256.png', :style=>'float: right; margin-top: 0em; margin-left: .5em;', :width=>150, :height=>150 }
  %p This page recognizes community members that have helped shape Arquillian during each release cycle, either though code contributions, participation or advocacy. For donating their time, effort and patience to make Arquillian a better testing framework for the benefit of the community, we award each of them the title Arquillian Noble.
  %div{ :style=>'width: 80%'}
    %p.info
      %span Community members may be crowned multiple times. Once a contributor becomes a team member, subsequent contributions are not listed here (team members are noble by default).
  :textile
    h2. Release: 1.0.0.Final
  
    table(data).
    |_. Name|_. Contribution|
  
    h2. Release: 1.0.0.Alpha5
  
    table(data).
    |_. Name|_. Contribution|
    |"Karel Piwko":profile://kpiwko|Arquillian Drone ("ARQ-291":issue://ARQ-291)
    Dependency resolver API ("SHRINKWRAP-140":issue://SHRINKWRAP-140)|
    |"David Allen":profile://dallen6|OpenEJB configuration ("ARQ-379":issue://ARQ-379)
    @EJB.mappedName support ("ARQ-167":issue://ARQ-167)|
    |"Andy Gibson":profile://AndyGibson|Exception proxy between client/server ("ARQ-299":issue://ARQ-299)|
    |"Jason Porter":profile://LightGuard|GlassFish remote 3.1 container ("ARQ-323":issue://ARQ-323)|
  
    h2. Release: 1.0.0.Alpha4
  
    table(data).
    |_. Name|_. Contribution|
    |"Jesper Pedersen":profile://jesper.pedersen|IronJacamar container adapter docs ("ARQ-230":issue://ARQ-230)|
  
    h2. Release: 1.0.0.Alpha3
  
    table(data).
    |_. Name|_. Contribution|
    |"Jean Deruelle":profile://deruelle_jean|Embedded Tomcat 6 container ("ARQ-189":issue://ARQ-189)|
    |"Thomas Diesler":profile://thomas.diesler|Initial support for OSGi bundle testing ("ARQ-188":issue://ARQ-188)
    Remote OSGi bundle testing ("ARQ-190":issue://ARQ-190)
    Auxiliary OSGi test bundle ("ARQ-193":issue://ARQ-193)|
    |"Ståle W. Pedersen":profile://stalep|Performance extension ("ARQ-147":issue://ARQ-147, "ARQ-225":issue://ARQ-255)|
    |"Nicklas Karlsson":profile://nickarls|Integration test suite ("ARQ-176":issue://ARQ-176)|
    |"Ken Gullaksen":profile://kenglxn|Archive name optional ("SHRINKWRAP-163":issue://SHRINKWAP-163)
    Setup Arquillian Container Injection Matrix|
  
    h2. Release: 1.0.0.Alpha2
  
    table(data).
    |_. Name|_. Contribution|
    |"German Escobar":profile://germanescobar|Container configuration ("ARQ-33":issue://ARQ-33)|
    |"Alejandro Montenegro":profile://aamonten|JBoss AS managed containers ("ARQ-48":issue://ARQ-48)|
  
    h2. Advocates, Innovators and Early Adopters
  
    * "Pete Muir":profile://petemuir - Co-founder of Arquillian. Created JBoss Test Harness, the precursor to Arquillian.
    * "Cheyenne Weaver":profile://cheyenneweaver - Brought Ike to life and gave Arquillian a "visual identity":http://design.jboss.org/arquillian
    * "Adrian Cole":profile://adriancole - Took Arquillian to the clouds (via "jclouds":http://jclouds.org); advocates it as a Java cloud power tool
    * "Paul Bakker":profile://pbakker - Created and maintains the Arquillian Forge plugin ("SEAMFORGE-146":issue://SEAMFORGE-146)
    * "Jesper Pedersen":profile://jesper.pedersen - Implemented the IronJacamar (embedded JCA) container adapter
    * "German Escobar":profile://germanescobar - Wrote about "testing a JMX CDI extension with Arquillian":http://community.jboss.org/wiki/TestingaJMXPortableExtensionforCDI
    * "Michael Schuetz":profile://michaelschuetz - Setup the "Arquillian sandbox":http://github.com/arquillian-sandbox repository, created quickstart projects, researched and wrote Seam 2 extension
    * "Adam Warski":profile://adamw - Worked out a solution for doing "efficient database-oriented testing":http://www.warski.org/blog/?p=325
    * "Markus Eisele":profile://myfear - Covered Arquillian in "Java Tech Journal March 2011":http://blog.eisele.net/2011/03/new-article-for-latest-jaxmag-java-ee-6.html
    * "Cosmin Martinconi":profile://CosminMartinconi (mentor: "Jakob Korherr":profile://jakobk) - "GSoC 2010 project":http://socghop.appspot.com/gsoc/student_project/show/google/gsoc2010/apache/t127230758773 to create an "automated webapp test suite for MyFaces":http://wiki.apache.org/myfaces/AutomatedWebappTest_Status based on the Arquillian SPI ("wrap-up":http://www.jakobk.com/2010/09/myfaces-webapptest-meets-apache-svn)
    * "John Ament":profile://meetoblivion - Wrote about "testing a property loader CDI extension with Arquillian":http://john-ament.blogspot.com/2010/03/writing-property-loader-in-java-ee-6.html
    * "Stuart Douglas":profile://swd847 - Converted Weld extensions tests to Arquillian, uses Arquillian to test fakereplace
    * "Jordan Ganoff":profile://jganoff - Wrote about "testing the Seam JMS module with Arquillian":http://community.jboss.org/wiki/Seam3JMSModuleTestingwithArquillian
    * "Lincoln Baxter III":profile://lincolnthree - Wrote about "CDI-powered unit testing with Arquillian":http://ocpsoft.com/seam/cdi-powered-unit-testing-using-arquillian/, uses Arquillian to test Seam Forge
    * "Mike Brock":profile://cbrock - Adopted Arquillian for testing Errai
    * "Bob McWhirter":profile://bob.mcwhirter and "Jim Crossley":profile://jcrossley - Experimented combining Arquillian with JRuby and RSpec in "TorqueBox":http://torquebox.org
  
    Thanks to all of you who have tweeted about "#Arquillian":http://search.twitter.com/search?q=%23Arquillian as well!
