---
layout: base
title: Events
---
#main
  .container
    %h1 Arquillian Nobles
    %img{ :src=>'/images/arquillian_crown_icon_glossy_256.png', :style=>'float: right; margin-top: -4em; margin-right: 5.5em;', :width=>150, :height=>150 }
    %p This page recognizes community members that have helped shape Arquillian during each release cycle, either though code contributions, participation or advocacy. For donating their time, effort and patience to make Arquillian a better testing framework for the benefit of the community, we award each of them the title Arquillian Noble.
    %div{ :style=>'width: 75%;' }
      %p.info
        %span Community members may be crowned multiple times. Once a contributor becomes a team member, subsequent contributions are not listed here (team members are noble by default).
    :textile
      h2. 1.0.0.Alpha5

      |_. Name|_. Contribution|
      |"Karel Piwko":profile://kpiwko|Arquillian Drone ("ARQ-291":issue://ARQ-291)
      Dependency resolver API ("SHRINKWRAP-140":issue://SHRINKWRAP-140)|
      |"David Allen":profile://dallen6|OpenEJB configuration ("ARQ-379":issue://ARQ-379)
      @EJB.mappedName support ("ARQ-167":issue://ARQ-167)|
      |"Andy Gibson":profile://AndyGibson|Exception proxy between client/server ("ARQ-299":issue://ARQ-299)|
      |"Jason Porter":profile://LightGuard|GlassFish remote 3.1 container ("ARQ-323":issue://ARQ-323)|

      h2. Advocates, Innovators and Early Adopters

      * Pete Muir - Co-founder of Arquillian. Created JBoss Test Harness, the precursor to Arquillian.
