---
layout: default
title: Web-based Chat
---
%p If you don't have an IRC client installed or available, you can join the ##{site.irc_channel} channel using the web-based client below. Simply enter a nikename, answer the CAPTCHA challenge, then click Connect. Note that public messages in the channel are logged to <a href="#{site.irc_transcripts}">transcripts.jboss.org</a>.

%div{:style=>'padding: 0 5px 1.5em 5px;'}
  %iframe{:src=>"http://webchat.freenode.net?channels=#{site.irc_channel}&uio=MT1mYWxzZSY3PWZhbHNlJjExPTIzNg0c", :style=>'width: 100%; height: 500px; border: 1px solid #C3C5E0'}
