@import "bootstrap";
@import "compass/css3";

.repo, .box {
  margin: 0.5em 1em;
  height: 120px;
  position: relative;
}

.status img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.show-grid [class*="span"] {
  @include border-radius(5px);
  @include single-box-shadow(gray, 1px, 1px, 7px);
}

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.repos .span4:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}

.sub {
  color: gray;
  font-size: smaller;
  a {
    color: inherit;
  }
}

#updated .sub {
  display: inline;
}

h3 a {
  font-size: 12px;
  font-weight: normal;
}

.logo {
  float: left;
  margin-right: 2em;
}

.page-header .links {
  float: right;
}
