/* line 8 */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 45, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .container {
  background: none;
}
/* line 47, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 55, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr.space {
  background: white;
  color: white;
}
/* line 58, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 60, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 65, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a img {
  border: none;
}
/* line 68, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 72, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp p img.top {
  margin-top: 0;
}
/* line 74, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 79, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .small {
  font-size: 0.9em;
}
/* line 81, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .large {
  font-size: 1.1em;
}
/* line 83, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .quiet {
  color: #999999;
}
/* line 85, /home/aslak/.rvm/gems/ruby-1.9.2-p290@arq_hubot/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .hide {
  display: none;
}

/* line 2, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
.pln {
  color: #000;
}

@media screen {
  /* line 8, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .str {
    color: #080;
  }

  /* line 12, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .kwd {
    color: #008;
  }

  /* line 16, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .com {
    color: #800;
  }

  /* line 20, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .typ {
    color: #606;
  }

  /* line 24, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .lit {
    color: #066;
  }

  /* line 28, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .ann {
    color: #666;
  }

  /* line 32, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .pun, .opn, .clo {
    color: #000;
  }

  /* line 36, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .tag {
    color: #008;
  }

  /* line 40, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .atn {
    color: #606;
  }

  /* line 44, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .atv {
    color: #080;
  }

  /* line 48, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .dec, .var {
    color: #606;
  }

  /* line 52, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .fun {
    color: red;
  }
}
@media print, projection {
  /* line 59, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .str {
    color: #060;
  }

  /* line 62, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 66, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 70, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 74, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .lit {
    color: #044;
  }

  /* line 77, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .pun, .opn, .clo {
    color: #440;
  }

  /* line 80, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 84, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .atn {
    color: #404;
  }

  /* line 87, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
  .atv {
    color: #060;
  }
}
/* line 93, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
pre.prettify, pre.command {
  background-color: #f8f8f8;
  font-size: 1em;
  line-height: 1.5;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  overflow-x: auto;
  margin-bottom: 1em;
}

/* line 107, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
pre.prettify.noborder, pre.command.noborder {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

/* line 114, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
pre.command {
  background: url('/images/command.png?1333040858') no-repeat 3px 3px;
  padding: 14px 10px 14px 50px;
}

/* line 120, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 34px;
}

/* line 140, /home/aslak/dev/source/testing/arquillian.github.com/stylesheets/partials/_prettify.scss */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
