body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
body.bp .container {
  background: none;
}
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
body.bp hr.space {
  background: white;
  color: white;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
body.bp a img {
  border: none;
}
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
body.bp p img.top {
  margin-top: 0;
}
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
body.bp .small {
  font-size: 0.9em;
}
body.bp .large {
  font-size: 1.1em;
}
body.bp .quiet {
  color: #999999;
}
body.bp .hide {
  display: none;
}

.pln {
  color: #000;
}

@media screen {
  .str {
    color: #080;
  }

  .kwd {
    color: #008;
  }

  .com {
    color: #800;
  }

  .typ {
    color: #606;
  }

  .lit {
    color: #066;
  }

  .ann {
    color: #666;
  }

  .pun, .opn, .clo {
    color: #000;
  }

  .tag {
    color: #008;
  }

  .atn {
    color: #606;
  }

  .atv {
    color: #080;
  }

  .dec, .var {
    color: #606;
  }

  .fun {
    color: red;
  }
}
@media print, projection {
  .str {
    color: #060;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #044;
  }

  .pun, .opn, .clo {
    color: #440;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: #060;
  }
}
pre.prettify, pre.command {
  background-color: #f8f8f8;
  font-size: 1em;
  line-height: 1.5;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  overflow-x: auto;
  margin-bottom: 1em;
}

pre.prettify.noborder, pre.command.noborder {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

pre.command {
  background: url('/images/command.png?1332926183') no-repeat 3px 3px;
  padding: 14px 10px 14px 50px;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 34px;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
