@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "blueprint/grid";
@import "compass/css3";
//@import "sassy-buttons";

@include blueprint-scaffolding;

body.bp {
  @include blueprint-typography(true);
  @include blueprint-grid;
  @include blueprint-utilities;
  @include blueprint-interaction;
//  background-color: $page_background_color;

  // font-size mixin is not working correctly, manually override
  font-size: 85%;
  form {
    @include blueprint-form;
  }
  ul {
    list-style-type: square;
    padding: 0 0 0 2em;
  }
  li {
  }
}

header[role="banner"] {
  top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  h2#logo {
    float: left;
    padding: 0;
    margin: 0 0 0 5px;
    img.arquillian {
      width: 64px;
      height: 64px;
    }
  }
  nav[role="navigation"] {
    width: 600px;
    text-align: center;
    margin-left: 25px;
    ul {
      list-style: none;
      margin: 4px 0 0 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 16px 15px;
        font-size: .9em;
        a {
          text-decoration: none;
          @include text-shadow(rgba(0,0,0,0.2));
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}

#section {
  margin-top: 72px; 
  background-color: #A7B5BF;
  padding-bottom: 1px;
  border-bottom: 1px;
}

#main .container {
  margin-top: 80px; 
}

body.guide #section {
  .container {
    position: relative;
  }
  .section_header {
    @include text-shadow(rgba(255,255,255,0.5));
    margin: 1.5em 0 1.3em 0;
    padding-top: 2px;
    padding-left: 70px;
    height: 70px;
    background: url(../images/guides_icon.png) no-repeat;
    h2 {
      margin: 0;
      a {
        text-decoration: none;
      }
    }
    p {
      margin: 0;
    }
  }
  .section_sidebar {
    position: absolute;
    top: 1.3em;
    right: 0;
    width: 280px;
    a.guides_menu {
      width: 150px !important;
      margin: 1.75em 0 1.75em 50px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #738089 !important;
      //@include sassy-button("glass", 5px, 1em, #B7D1E7, #9AB5CB, #454B54, "inset", false);
      // start sassy button generation
      display: inline-block;
      width: auto;
      height: auto;
      cursor: pointer;
      font-size: 1em;
      padding: 0.5em 1.5em;
      line-height: 1.2em;
      border-style: solid;
      border-width: 1px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      background-color: #b7d1e7;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #dde9f4), color-stop(50%, #c6dbec), color-stop(51%, #b7d1e7), color-stop(100%, #9ab5cb));
      background: -webkit-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
      background: -moz-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
      background: -o-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
      background: -ms-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
      background: linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
      border-color: #9ab5cb;
      color: #454b54;
      text-shadow: #f2f7fb 0 1px 0;
      // end
      .arrow {
        font-size: 1.2em;
      }
    }
  }
}

.container {
  @include container;
}

#guide {
  background: $page_background_color url(../images/container_gradient.png) repeat-x;
  padding: 0.5em 0 1.5em 0;
  .two-col {
    @include container;
    background: #E6ECF0 url(../images/sidebar_gradient.png) repeat-x 0 -1px;
    margin-top: 3.5em;
    border: 1px solid #D2CECE;
    @include border-radius(6px);
    @include box-shadow(rgba(0, 0, 0, 0.24), 0, 0, 2px, 0, false);
    #content {
      // Two thirds of the grid columns, rounding up.
      // With 24 cols, this is 16.
      $content-columns: ceil(3 * $blueprint-grid-columns / 4) - 2;
      // true means it's the last column in the row
      @include column($content-columns, true);
      background-color: white;
      @include border-radius(6px 0 0 6px);
      padding: 0 $blueprint_grid_width 2em $blueprint_grid_width;
      border-right: 1px solid #D2CECE;
      h3 {
        margin: 1em 0;
      }
      h3.group {
        font-size: 2em;
      }
      h3.group, .header {
        padding: 10px $blueprint_grid_width;
        margin: 0 (-$blueprint_grid_width);
        border-bottom: 1px solid #D2CECE;
      }
      h3.group:first-child, .header {
        background: #F7F7F7 url(../images/content_gradient.png) repeat-x;
        @include border-radius(6px 0 0 0);
      }
      .header {
        h2 {
          font-size: 2em;
        }
        ul {
          padding-left: 0;
          li {
            font-weight: bold;
            list-style: none;
            font-size: .95em;
            background: url(../images/bullet_check.gif) no-repeat 3px 2px;
            margin: .75em 0;
            padding-left: 30px;
          }
        }
      }
      p, ul, table {
        margin-bottom: 1em;
      }
      dl dt {
        margin-top: 1em;
        font-size: 1.15em;
        padding: .125em 0 .25em 0;
      }
      dl dd {
        font-size: 1em;
        border-bottom: 1px solid #CCCCCC;
        margin-left: 0;
        margin-bottom: 1em;
        padding: .25em 0 1.5em 0;
      }
      table {
         border: 1px solid #aaa;
         th {
           background-color: #4A5D75;
           color: white;
           white-space: nowrap;
         }
      }
    }
    #sidebar {
      // One third of the grid columns, rounding down. With 24 cols, this is 8.
      $sidebar-columns: floor($blueprint-grid-columns / 4) - 1;
      @include column($sidebar-columns);
      padding: 1em 0 1em ($blueprint_grid_width - 1px);
      h3 {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0.5em 0 1em 0;
        text-transform: uppercase;
        color: #718090;
        &.chapter_header {
          background: url(../images/chapters.png) no-repeat;
          padding: 5px 0 5px 20px;
        }
      }
      ol.chapters {
        list-style: decimal outside;
        padding: 0;
        li {
          margin: 1.5em;
          margin-right: 0;
          a {
            color: #369;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.filename {
    background: #CBE1AF;
    color: #333;
    padding: 3px 10px 3px 43px;
    @include text-shadow(rgba(255,255,255,.75));
    @include border-radius(2px);
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 26px;
}

.filename + pre.prettify {
   background-image: url(../images/edit.png);
   background-repeat: no-repeat;
   background-position: 3px 3px;
   margin-top: -38px;
   padding-top: 45px;
}

// could use the extends or mixin feature here
.info, .tip, .important, .warning {
   margin-bottom: 1em;
   z-index: 100;
   span {
     z-index: 1;
     display: block;
     padding: 1em 24px;
     margin-left: 22px;
   }
}

.info {
   background: url(../images/info.png) no-repeat 0 2px;
   span {
     background: #B9D794 url(../images/info.png) no-repeat -22px 2px;
   }
}

.tip {
   background: url(../images/tip.png) no-repeat;
   span {
     background: #FFF9D8 url(../images/tip.png) no-repeat -22px 0;
   }
}

.important {
   background: url(../images/important.png) no-repeat;
   span {
     background: #F9D9D8 url(../images/important.png) no-repeat -22px 0;
   }
}

.warning {
   background: url(../images/warning.png) no-repeat;
   span {
     background: #F9D9D8 url(../images/warning.png) no-repeat -22px 0;
   }
}

//.date {
//  display: block;
//  width: 44px;
//  height: 46px;
//  font-weight: bold;
//  font-size: 24px;
//  line-height: 23px;
//  text-align: center;
//  padding: 0px 2px 3px 2px;
//  @include text-shadow(white);
//  background: url(../images/calendar.png) no-repeat 0 3px;
//  abbr {
//    display: block;
//    color: white;
//    font-size: 10px;
//    line-height: 13px;
//    text-transform: uppercase;
//    @include text-shadow(rgba(0,0,0,.45));
//    border: 0 !important;
//  }
//}

.bp .date {
  display: block;
  height: 44px;
  width: 44px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  @include text-shadow(#ffffff);
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,.5), 1px, 1px, 3px, 0, false);
  border: 1px solid #8c8c8c;
  background-color: #eee;
  vertical-align: top;
  abbr {
    @include text-shadow(rgba(0,0,0,.45));
    display: block;
    margin-left: -1px;
    margin-top: -1px;
    width: 44px;
    height: 13px;
    text-transform: uppercase;
    background-color: #96B802;
    //@include background-image(linear-gradient(#E3ECBC, #96B802));
    color: white;
    font-size: 10px;
    line-height: 13px;
    padding-top: 1px;
    border: 1px solid #8c8c8c;
    @include border-radius(5px 5px 0 0);
    @include box-shadow(rgba(0,0,0,.33), 0, 2px, 3px, 0, false);
  }
}

.lanyrd-target-splat {
  margin-bottom: 1em;
  ol.lanyrd-listing {
    padding-left: 0;
    h3 {
      font-size: 1.25em;
    }
  }
}

#activity {
  padding: 1em;
  border: 1px solid #B2B2B2;
  @include border-radius(4px);
  ul {
    list-style: none;
    padding-left: 0;
  }
  img {
    border: 1px solid #B2B2B2;
    padding: 2px;
  }
  h3 {
    margin-bottom: 0.25em;
  }
  .date, img {
    float: left;
    margin-right: 10px;
    & + h3 {
      line-height: 1em;
    }
    & + h3 + p {
      margin-left: 58px;
    }
  }
}

a > img.jboss {
  @include border-radius(3px);
  position: absolute;
  right: 140px;
  height: 50px;
  top: 5px;
}
