@import "partials/base";
@import "blueprint/reset";
@import "blueprint";
@import "compass/css3";
//@import "sassy-buttons";

body.bp {
  @include blueprint(true);
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: square;
    padding: 0 0 0 2em;
  }
  h2 img {
    vertical-align: middle;
    margin-top: -5px;
  }
  hr {
    border-width: 1px 0 0 0;
    border-color: $light_border;
    border-style: solid;
  }
}

#banner {
  background-color: $banner_background_color;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 9px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;
  border-bottom: 1px solid rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .container {
    overflow: visible;
  }
  h2#logo {
    float: left;
    padding: 0;
    margin: 5px 0 0 10px;
    height: 52px;
    img.arquillian {
      width: 46px;
      height: 46px;
    }
  }
  #navigation {
    float: left;
    width: 600px;
    text-align: center;
    margin-top: 0;
    margin-left: 25px;
    ul {
      list-style: none;
      margin: 4px 0 0 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 16px 15px;
        font-size: .85em;
        a {
          color: $banner_link_color;
          @include text-shadow(rgba(0,0,0,.8));
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          &:hover {
            color: $banner_link_hover_color;
          }
        }
      }
    }
  }
}

.container {
  @include container;
}

body.bp #main {
  margin-top: 54px;
  #feature {
    background-color: $page_background_color;
    background-image: url(../images/shiphull.png);
    height: 110px;
    border-bottom: 1px solid $light_border;
    h1 {
      padding: .85em 0 0 5px;
      font-weight: bold;
      line-height: 1;
    }
  }
  & > .container {
    margin-top: 2em;
  }
}

body.bp.home {
  background-color: $page_background_color;
  a.jboss {
    top: 125px;
    right: 1.5em;
  }

  a.primary {
    //@include sassy-button("glass", 5px, 1em, #B7D1E7, #9AB5CB, #454B54, "inset", false);
    // start sassy button generation
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1.5em;
    line-height: 1.2em;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #b7d1e7;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #dde9f4), color-stop(50%, #c6dbec), color-stop(51%, #b7d1e7), color-stop(100%, #9ab5cb));
    background: -webkit-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
    background: -moz-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
    background: -o-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
    background: -ms-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
    background: linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
    border-color: #9ab5cb;
    color: #454b54;
    text-shadow: #f2f7fb 0 1px 0;
    // end
    float: right;
    margin-top: -125px;
    width: 105px;
    margin-right: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
}

/* may change "invasion" to a generate page content type */
body.bp.invasion {
  #sidebar {
    @include column(4, true);
    ul#tabs {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin: 0 0 5px 0;
        padding: 0;
      }
      a {
        padding: 5px 10px;
        display: block;
      }
      a.current {
        /*background-color: $palette_light_green;*/
        @include linear-gradient(color-stops(#ffffff, $palette_light_green));
        border-top: 1px solid $palette_light_green;
        border-left: 3px solid $palette_light_green - #111;
        font-weight: bold;
      }
    }
  }
  #content {
    border-left: 1px solid $palette_light_green;
    padding-left: $blueprint-grid-width;
    @include column(19, true);
    margin-bottom: 2em;
  }
}

body.bp.blog #main > .container {
  width: $blueprint_container_size + 60px;
  #content {
    @include column(17.5, false);
    margin-left: 60px;
    .post {
      position: relative;
      h2.title {
        margin-bottom: 5px;
        border-bottom: 1px solid ($palette_gray + #444444);
        a {
          //color: $palette_medium_green - #222;
          color: $font_color;
          &:hover {
            color: $palette_dark_terra;
          }
        }
      }
      .byline {
        margin-bottom: 1.5em;
      }
      // reenable when we have comments
      .comments {
        visibility: hidden;
      }
      .date {
        position: absolute;
        top: 10px;
        left: -60px;
      }
      .body {
        margin-bottom: 5px;
        border-bottom: 1px solid ($palette_gray + #444444);
      }
      .footer {
        margin-bottom: 3em;
      }
    }
    // TODO needs to use variable for content columns
    .pager {
      margin-bottom: 3em;
      border: solid ($palette_gray + #444444);
      border-width: 1px 0;
      padding: 5px 0;
      @include clearfix;
      .older {
        padding: 0 5px;
        @include column(4, true);
      }
      .current {
        @include column(9.5, true);
        text-align: center;
      }
      .newer {
        @include column(4, true);
        text-align: right;
        padding: 0 5px;
      }
      .none {
        visibility: hidden;
      }
    }
  }
  #sidebar {
    @include prepend(.5);
    @include column(6, true);
    margin-bottom: 3em;
    h2 {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;
    }
    .subscribe {
      a img {
        float: left;
        width: 42px;
        height: 42px;
        margin-right: 10px;
      }
    }
    h2 {
      text-transform: none;
      margin-bottom: 5px;
    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid ($palette_gray + #444444);
        h5 {
          margin-bottom: 0;
        }
      }
    }
  }
}

body.guide {
  background-color: $palette_white;
  //background-color: $page_background_color;
  background-image: url(../images/shiphull.png);//, url(../images/square.png);
  #section {
    background-color: rgba(111,114,104,.25);
    margin-top: 56px; 
    padding-bottom: 1px;
    border-bottom: 1px;
    .container {
      position: relative;
      overflow: visible;
      padding-top: 1px;
      margin-top: -1px;
    }
    .section_header {
      @include text-shadow(rgba(255,255,255,0.5));
      margin: 1.5em 0 1.2em 0;
      padding-top: 2px;
      padding-left: 60px;
      height: 70px;
      background: url(../images/guides_icon.png) no-repeat 0 3px;
      h2 {
        font-weight: bold;
        margin: 0;
        a {
          color: $header_color;
          text-decoration: none;
        }
      }
      p {
        margin: 0;
      }
    }
    .section_sidebar {
      position: absolute;
      top: 1.3em;
      right: 0;
      width: 280px;
      a#guides_menu {
        width: 150px !important;
        margin: 1.75em 0 1.75em 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #738089 !important;
        //@include sassy-button("glass", 5px, 1em, #B7D1E7, #9AB5CB, #454B54, "inset", false);
        // start sassy button generation
        display: inline-block;
        width: auto;
        height: auto;
        cursor: pointer;
        font-size: 1em;
        padding: 0.5em 1.5em;
        line-height: 1.2em;
        border-style: solid;
        border-width: 1px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        background-color: #b7d1e7;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #dde9f4), color-stop(50%, #c6dbec), color-stop(51%, #b7d1e7), color-stop(100%, #9ab5cb));
        background: -webkit-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
        background: -moz-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
        background: -o-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
        background: -ms-linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
        background: linear-gradient(#ffffff, #dde9f4 2%, #c6dbec 50%, #b7d1e7 51%, #9ab5cb);
        border-color: #9ab5cb;
        color: #454b54;
        text-shadow: #f2f7fb 0 1px 0;
        // end
        .arrow {
          font-size: 1.2em;
        }
      }
      #guides {
        @include border-radius(1em);
        @include box-shadow(rgba(0,0,0,.25), .25em, .25em);
        padding: 2em 2em 1.5em 2em;
        top: 16px;
        right: 36px;
        width: 520px;
        background-color: $palette_white;
        position: absolute;
        z-index: 10;
        padding: 2em;
        .guides_menu {
          float: right;
          margin: -10px 24px 10px 0;
          text-transform: uppercase;
          font-weight: bold;
          color: $font-color;
        }
      }
    }
  }
}

body.bp.features #content {
  @include clearfix;
  .feature {
    @include column(8);
    img {
      margin: 2px;
      @include box-shadow(rgba(0,0,0,.25), 0px, 0px, 4px);
      @include border-radius(2px);
    }
  }
  .feature:nth-of-type(3n) {
    @include last;
  }
}

#guide {
  background: $palette_white url(../images/container_gradient.png) repeat-x;
  padding: 0.5em 0 1.5em 0;
  .two-col {
    @include container;
    background: #E6ECF0 url(../images/sidebar_gradient.png) repeat-x 0 -1px;
    //background-color: $palette_light_green;
    margin-top: 3.5em;
    border: 1px solid #D2CECE;
    @include border-radius(6px);
    @include box-shadow(rgba(0, 0, 0, 0.24), 0, 0, 2px, 0, false);
    #content {
      // Two thirds of the grid columns, rounding up.
      // With 24 cols, this is 16.
      $content-columns: ceil(3 * $blueprint_grid_columns / 4) - 2;
      // true means it's the last column in the row
      @include column($content-columns, true);
      background-color: $palette_white;
      @include border-radius(6px 0 0 6px);
      padding: 0 $blueprint_grid_width 2em $blueprint_grid_width;
      border-right: 1px solid #D2CECE;
      h3 {
        margin: 1em 0;
      }
      h3.group {
        font-size: 2em;
      }
      h3.group, .header {
        padding: 10px $blueprint_grid_width;
        margin: 0 (-$blueprint_grid_width);
        border-bottom: 1px solid #D2CECE;
      }
      h3.group:first-child, .header {
        background: #F7F7F7 url(../images/content_gradient.png) repeat-x;
        @include border-radius(6px 0 0 0);
      }
      .header {
        h2 {
          font-size: 2em;
        }
        ul {
          padding-left: 0;
          li {
            font-weight: bold;
            list-style: none;
            font-size: .95em;
            background: url(../images/bullet_check.gif) no-repeat 3px 2px;
            margin: .75em 0;
            padding-left: 30px;
          }
        }
      }
      p, ul, table {
        margin-bottom: 1em;
      }
      dl dt {
        margin-top: 1em;
        font-size: 1.15em;
        padding: .125em 0 .25em 0;
      }
      dl dd {
        font-size: 1em;
        border-bottom: 1px solid #CCCCCC;
        margin-left: 0;
        margin-bottom: 1em;
        padding: .25em 0 1.5em 0;
      }
      table {
         border: 1px solid #aaa;
         th {
           background-color: #4A5D75;
           color: white;
           white-space: nowrap;
         }
      }
    }
    #sidebar {
      // One third of the grid columns, rounding down. With 24 cols, this is 8.
      $sidebar-columns: floor($blueprint_grid_columns / 4) - 1;
      @include column($sidebar-columns);
      padding: 1em 0 1em ($blueprint_grid_width - 1px);
      h3 {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0.5em 0 1em 0;
        text-transform: uppercase;
        color: #718090;
        &.chapter_header {
          background: url(../images/chapters.png) no-repeat;
          padding: 5px 0 5px 20px;
        }
      }
      ol.chapters {
        list-style: decimal outside;
        padding: 0;
        li {
          margin: 1.5em;
          margin-right: 0;
          a {
            color: #369;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.filename {
    background: #CBE1AF;
    color: #333;
    padding: 3px 10px 3px 43px;
    @include text-shadow(rgba(255,255,255,.75));
    @include border-radius(2px);
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 26px;
}

.filename + pre.prettify {
   background-image: url(../images/edit.png);
   background-repeat: no-repeat;
   background-position: 3px 3px;
   margin-top: -38px;
   padding-top: 45px;
}

// could use the extends or mixin feature here
// & > span is required since redcloth adds <span class="caps"> around 3 char uppercase seq
p.info, p.tip, p.important, p.warning {
   margin-bottom: 1em;
   z-index: 100;
   & > span {
     z-index: 1;
     display: block;
     padding: 1em 24px;
     margin-left: 22px;
   }
}

p.info {
   background: url(../images/info.png) no-repeat 0 2px;
   & > span {
     background: #B9D794 url(../images/info.png) no-repeat -22px 2px;
   }
}

p.tip {
   background: url(../images/tip.png) no-repeat;
   & > span {
     background: #FFF9D8 url(../images/tip.png) no-repeat -22px 0;
   }
}

p.important {
   background: url(../images/important.png) no-repeat;
   & > span {
     background: #F9D9D8 url(../images/important.png) no-repeat -22px 0;
   }
}

p.warning {
   background: url(../images/warning.png) no-repeat;
   & > span {
     background: #F4C062 url(../images/warning.png) no-repeat -22px 0;
   }
}

body.bp ul.legend {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    padding-left: 50px;
    padding-top: 2px;
    margin: 0 0 1.5em 0;
    display: block;
    min-height: 40px;
    background-repeat: no-repeat;
    &.edit {
      background-image: url('../images/edit.png');
    }
    &.warning {
      background-image: url('../images/warning.png');
    }
    &.info {
      background-image: url('../images/info.png');
    }
    &.important {
      background-image: url('../images/important.png');
    }
    &.tip {
      background-image: url('../images/tip.png');
    }
  }
}

.bp .date {
  display: block;
  height: 44px;
  width: 44px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  @include text-shadow(#ffffff);
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,.5), 1px, 1px, 3px, 0, false);
  border: 1px solid #8c8c8c;
  background-color: #eee;
  vertical-align: top;
  abbr {
    @include text-shadow(rgba(0,0,0,.45));
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    width: 44px;
    height: 13px;
    text-transform: uppercase;
    @include linear-gradient(color-stops($palette_light_terra, $palette_dark_terra));
    //background-color: $palette_dark_terra;
    color: white;
    font-size: 10px;
    line-height: 13px;
    padding-top: 1px;
    border-bottom: 1px solid #c6c6c6;
    @include border-radius(4px 4px 0 0);
    @include box-shadow(rgba(0,0,0,.33), 0, 2px, 3px, 0, false);
    //background-color: #96B802;
    //@include background-image(linear-gradient(#E3ECBC, #96B802));
  }
}

.lanyrd-target-splat {
  margin-bottom: 1em;
  ol.lanyrd-listing {
    padding-left: 0;
    h3 {
      font-size: 1.25em;
    }
  }
}

#activity {
  @include clearfix;
  background-color: $palette_white;
  border: 1px solid $light_border;
  @include border-radius(6px);
  padding: $blueprint_grid_width 0;
  margin-bottom: 2em;
  #blog {
    margin-left: -1px;
    @include prepend(1);
  }
  #nobles {
    @include prepend(.5);
  }
  #events {
    margin-left: -1px;
    @include prepend(.5);
    @include last;
  }
  #blog, #nobles, #events {
    @include column(7);
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  img {
    border: 3px double $light_border;
    padding: 2px;
  }
  h3 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  .date, img {
    float: left;
    margin-right: 10px;
    & + h3 {
      line-height: 1em;
    }
    & + h3 + p {
      margin-left: 58px;
    }
  }
}

a.jboss {
  float: right;
  position: relative;
  top: 84px;
  right: 25px;
  img {
    @include border-radius(3px);
    height: 50px;
  }
}

.guide a.jboss {
  display: none;
}

table.data, .metadata table {
  @include box-shadow(rgba(0, 0, 0, 0.24), 1px, 1px, 3px);
  border-collapse: collapse;
  th {
    font-size: .95em;
    text-transform: uppercase;
    background-color: $palette_gray;
    color: white;
    @include linear-gradient(color-stops($palette_gray + #333, $palette_gray));
  }
  th, td {
    border: 1px solid $palette_gray + #444;
    &:first-child {
      width: 25%;
    }
  }
}

body.bp #footer {
  background: $palette_gray url(../images/dot.png);
  color: $palette_light_green - #111;
  //@include linear-gradient(color-stops($palette_gray, #000000));
  min-height: 150px;
  .container {
    padding: 2em 0 1em 0;
    .project {
      @include column(9);
      img {
        margin: 0 0 1em 0;
      }
    }
    a {
//      @include text-shadow(rgba(88,112,115,.1));
      @include text-shadow(rgba(0,0,0,.6));
      color: $palette_medium_green + #111;
      &:hover {
        color: $palette_light_green;
      }
    }
    h4 {
      margin-bottom: .5em;
      font-weight: bold;
      @include text-shadow(rgba(0, 0, 0, .5));
      color: $palette_light_green;
    }
    .footernav {
      @include column(4);
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .sponser {
      @include column(7, true);
      img.branding {
        width: 250px;
        height: 50px;
        background-color: $palette_light_green;
        padding: 5px;
        @include border-radius(5px);
        @include box-shadow(rgba(0,0,0,.33), 2px, 2px, 3px);
      }
    }
  }
}

// create mixin to generate these
.tag-0 {
  font-size: 1em;
}
.tag-1 {
  font-size: 1.1em;
}
.tag-2 {
  font-size: 1.25em;
}
.tag-3 {
  font-size: 1.45em;
}
.tag-4 {
  font-size: 1.7em;
}
.tag-5 {
  font-size: 2em;
}
.tag-6 {
  font-size: 2.35em;
}

body.bp .tweet {
  margin-bottom: 3em;
  padding: 2px;
  border: 1px solid $palette_light_green;
  @include border-radius(4px);
  .loading {
    padding: 1.5em;
    margin: 0;
  }
  .tweet_intro {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
  }
  .tweet_outro {
    padding: 0.5em;
    margin: 0;
    text-align: center;
  }
  ul.tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;
    .awesome, .epic {
      text-transform: uppercase;
    }
    .tweet_odd {
      background-color: $palette_light_green;
    }
    .tweet_even {
//      background-color: $palette_light_green;
    }
    .tweet_avatar {
      margin-right: .5em;
      float: left;
      img {
        vertical-align: middle;
      }
    }
    li {
      padding: 0.5em;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

body.bp ul.team {
  list-style: none;
  padding: 0;
  li {
    @include column(6);
    margin-bottom: 1em;
    &:nth-of-type(3n) {
      @include last;
    }
    img {
      border: 3px double $light_border;
      float: left;
      margin-right: .5em;
      margin-bottom: 2em;
    }
    h3 {
      font-weight: bold;
      margin-bottom: .25em;
      font-size: 1.3em;
    }
    strong, em {
      display: block;
      color: $font-color + #222;
    }
  }
}

body.bp #slides_frame {
  background: url(../images/slide-frame-longer.png) no-repeat;
  width: 739px;
  height: 500px;
  margin-top: 1em;
  margin-bottom: 1em;
  #slides {
    background-color: #ffffff;
    width: 570px;
    position: relative;
    height: 429px;
    left: 84px;
    top: 18px;
    .slides_container {
      width: 570px;
      height: 429px;
      overflow: hidden;
      display: none;
      position: relative;
      .slide {
        width: 570px;
        height: 429px;
        h2 {
          font-size: 1.5em;
          font-weight: bold;
          margin: .5em 0;
          text-align: center;
          color: $palette_medium_green - #222;
        }
        img {
          @include box-shadow(rgba(0,0,0,.7), 2px, 2px, 5px, 0, false);
          margin-top: 1em;
        }
        div.image_frame {
          text-align: center;
          margin-bottom: 1em;
        }
        p {
          padding: 0 1em;
        }
        pre {
          padding-left: .5em;
        }
      }
    }
    .next, .prev {
      position: absolute;
      top: 200px;
      width: 24px;
      height: 43px;
      display: block;
      z-index: 101;
    }
    .prev {
      left: -39px;
    }
    .next {
      left: 585px;
    }
    ul.pagination {
      margin: 30px auto 0 auto;
      width: 42px; /* 14px * # of slides */
      padding: 0;
      li {
        float: left;
        margin: 0 1px;
        list-style: none;
        a {
          display: block;
          width: 12px;
          height: 0;
          padding-top: 12px;
          background-image: url(../images/slide-pagination.png);
          background-position: 0 0;
          float: left;
          overflow: hidden;
        }
      }
      li.current a {
        background-position: 0 -12px;
      }
    }
  }
}

body.bp h2.tagline {
  margin-top: 1em;
  font-weight: bold;
  width: 650px;
  font-size: 1.8em;
  text-align: justify;
  padding: 0 1.5em;
  @include text-shadow(rgba(255,255,255,.7));
}

body.bp blockquote {
  border: 1px solid $light_border;
  border-left-width: .5em;
  padding: .75em .5em .75em 1em;
  //color: #555;
  color: $palette_medium_blue - #222;
  @include box-shadow(rgba(0,0,0,.5), 0, 0, 5px);
  &:before {
    color: $palette_gray;
    content: '“';
    font: italic 400%/1 Cochin, Georgia, "Times New Roman", serif;
    float: left;
    margin-left: -1em;
    margin-top: -.1em;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  cite { 
    color: #555;
    margin-top: 1.5em;
    display: block;
    strong.author {
      display: block;
    }
    a.source {
      display: block;
    }
  }
}

.greenbar {
  @include linear-gradient(color-stops(#5FBF5F + #333, #5FBF5F - #333));
  color: white;
  padding: 1px 3px;
  border: outset #efefef;
  border-width: 1px 0;
}

p.post_to_twitter {
  display: inline-block;
  a {
    display: inline-block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    &:hover img {
      margin-top: -60px;
    }
  }
}

.contributor {
  display: inline-block;
  width:500px;
}

.contributor .user  {
  display: inline-block;
  vertical-align:top;
  width:300px;
}

.contributor .user table, .contributor .user tr, .contributor .user td {
  border-bottom:0px;
  border-top:0px;
  border-left:0px;
  border-right:0px;
}

.contributor .photo  {
  display: inline-block;
  vertical-align:middle;
  width:150px;
}

.contributor .photo img {
  height:150px;
  width:150px;
}

.plusone {
  height: 38px;
}

.screenshot {
  border: 1px solid #aaa;
  -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(white));
  @include box-shadow(rgba(0,0,0,.25), 1px, 1px, 3px);
  float: right;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: -3em;
  margin-bottom: 4em;
  @include clearfix;
}
