---
layout: guide
title: Getting Started
---
#content
  :textile
    <div class="header">
    h2. Getting Started

    This guide introduces you to Arquillian. After reading this guide, you'll be able to:

    * Add the Arquillian infrastructure to a Maven-based Java project
    * Write an Arquillian test case to assert the behavior of a CDI(Contexts and Dependency Injection) bean
    * Execute the Arquillian test case on multiple compatible containers

    You'll learn all of these skills by incorporating Arquillian to the test suite of a Java EE web application built with Maven.
    </div>

    h3(#assumptions). Assumptions

    The easiest way to get started with Arquillian is to incorporate it into the test suite of a project build that offers dependency management. Today, the most well-known build tool in this category is Maven. This guide will navigate you to your first green bar using a sample Maven project.

    p(info). %Arquillian does not depend on Maven, or any other build tool for that matter. It works just as well--if not better--when used in a project built using Ant or Gradle. Build tools that provide dependency management do provide an easier path to setting up Arquillian since Arquillian is distributed as multiple artifacts in the JBoss (Nexus) software repository.%

    This guide assumes you have Maven available, either in your command shell or your IDE. If you don't, please "install it now":http://maven.apache.org/download.html.

    h3(#create_new_project). Create a New Project

    First, create a Maven-based Java project using the command below. _Copy the text after the @$@ and paste it into your command shell._

    bc(command).. $ mvn archetype:generate -DarchetypeGroupId=net.avh4.mvn.archetype \
    -DarchetypeArtifactId=java-1.6-archetype

    p. Respond to the prompts by entering the value shown after each double colon. Press the Enter key after each entry (as indicated by @<ENTER>@).

    bc.. Define value for property 'groupId': : org.arquillian.example <ENTER>
    Define value for property 'artifactId': : arquillian-tutorial <ENTER>
    Define value for property 'version': : <ENTER>
    Define value for property 'package': : <ENTER>
    Confirm properties configuration:
    groupId: org.arquillian.example
    artifactId: arquillian-tutorial
    version: 1.0-SNAPSHOT
    package: org.arquillian.example
    Y: : <ENTER>

    p. This command will generate a Maven-based Java project with the structure shown below a the directory named @arquillian-tutorial@.

    * src/
    ** main/
    *** java/ - Place all application Java source files here (under Java package)
    *** resources/ - Place all application configuration files here
    * src/
    ** test/
    *** java/ - Place all test Java source files heres (under Java package)
    *** resources/ - Place all test configuration files here (e.g., arquillian.xml)
    * pom.xml - The Maven build file. Tells Maven how your project should be built.

    The project is pre-configured to use Java 6 and JUnit 4.8, which are the minimum required versions of each for using Arquillian.

    p(info). %Arquillian also supports TestNG 5. However, we'll be using JUnit throughout this guide.%

    Go ahead and open up the @pom.xml@ now. You should see a build file with basic project information, a build section and a dependencies section.
    
    You can remove all the @<dependency>@ elements following the junit dependency as they aren't required. After making that change, you should end up with the contents below (trimmed slightly for brevity):

    div(filename). pom.xml

    bc(prettify).. <project xmlns="http://maven.apache.org/POM/4.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
            http://maven.apache.org/POM/4.0.0
            http://maven.apache.org/xsd/maven-4.0.0.xsd">
        <modelVersion>4.0.0</modelVersion>
        <groupId>org.arquillian.example</groupId>
        <artifactId>arquillian-tutorial</artifactId>
        <version>1.0-SNAPSHOT</version>
        <packaging>jar</packaging>
        <name>arquillian-tutorial</name>
        <build>
            <plugins>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-compiler-plugin</artifactId>
                    <version>2.3.2</version>
                    <configuration>
                        <source>1.6</source>
                        <target>1.6</target>
                    </configuration>
                </plugin>
            </plugins>
        </build>
        <dependencies>
            <dependency>
                <groupId>junit</groupId>
                <artifactId>junit</artifactId>
                <version>4.8.1</version>
                <scope>test</scope>
            </dependency>
        </dependencies>
    </project>

    p. that's it

#sidebar
  %h3.chapter_header Chapters
  %ol.chapters
    %li
      %a{ :href=>'#assumptions' } Assumptions
    %li
      %a{ :href=>'#create_new_project' } Create a New Project
