---
layout: guide-index
title: Guides
---
#content
  %h3.group First Steps
  %dl
    - for guide in site.guides.select{|x| x.group == 1}
      %dt
        %a{ :href=>"#{guide.output_path}"}=guide.title
      %dd #{guide.summary}
  %h3.group Enhance
  %dl
    - for guide in site.guides.select{|x| x.group == 2}
      %dt
        %a{ :href=>"#{guide.output_path}"}=guide.title
      %dd #{guide.summary}

#sidebar
  %h3 Icon Legend
  %p One
  %p Two
  %p Three
