---
layout: guide-base
title: Guides
---
- groups = ['First Steps', 'More Coverage', 'Enhance']
#content
  - groups.each_with_index do |group, index|
    %h3.group= group
    %dl
      - for guide in site.guides.select{|x| x.group == index + 1}
        %dt<
          %a{ :href=>"#{guide.output_path}"}=guide.title
        %dd #{guide.summary}
#sidebar
  %h3 Icon Legend
  %ul.legend
    %li.edit The construction icon identifies source files that you'll be creating or modifying.
    %li.info Info blocks provide helpful hints, answer anticipated questions and share fun facts.
    %li.warning Warning blocks are reminders that prevent you from getting tripped up.
    %li.important An important block calls out a point you'll want to keep in mind for the future.
