---
layout: guide
title: Guides
---
#content
  %h3.group First Steps
  %dl
    %dt
      %a{ :href=>'/guides/getting_started/'} Getting Started
    %dd Learn how to add Arquillian to the test suite of your project and write your first Arquillian test.
    %dt
      %a{ :href=>'/guides/shrinkwrap/'} Creating Archives with ShrinkWrap
    %dd Unleash the power of the world's easiest way to define an Enterprise deployment.
  %h3.group Enhance
  %dl
    %dt Writing a Container Adapter
    %dd Follow this guide to implement an adapter for a container not yet supported by Arquillian.
#sidebar
  %h3 Icon Legend
  %p One
  %p Two
  %p Three
