!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title= (page.title ? [page.title, page.site_title ? page.site_title : site.title] : [site.title, site.tagline]) * ' &#183; '
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='description'){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name='keywords'){:content=>site.keywords}
    -#%meta(name='author'){:content=>page.author}
    - if site.url
      %link(rel='canonical'){:href=>site.url}
    %link(rel='alternate' type='application/atom+xml' href='/blog.atom' title='Arquillian blog Atom feed')
    %link(rel='stylesheet'){:href=>evolve_cache('/stylesheets/screen.css')}
    %script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    :javascript
      function footergravity() {
        $('#main').css('min-height', $(window).height() - $('footer').outerHeight() - parseInt($('#main').css('margin-top')));
      }
      $(function() {
        prettify();
        footergravity();
        $(window).resize(footergravity);
      });
    - if page.stylesheets
      - page.stylesheets.each do |stylesheet|
        %link(rel='stylesheet' href=stylesheet)
    /[if lt IE 9]
      %script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js')
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{:src=>javascript}
    %link(rel='shortcut icon' href='/favicon.ico')
  %body{:class=>page.body_class || nil}
    %header#banner.navbar.navbar-fixed-top(role='banner')
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data=>{:toggle=>'collapse', :target=>'.nav-collapse'}}
            - (1..3).each do
              %span.icon-bar
          %a.brand(href='/')
            %span.logo
            = site.title
          %nav.nav-collapse.offset4(role='navigation')
            %ul.nav
              %li{:class=>('active' if page.url =~ /^\/invasion\//)}
                %a(href='/invasion/') Invasion!
              %li{:class=>('active' if page.url =~ /^\/features\//)}
                %a(href='/features/') Features
              %li{:class=>('active' if page.url =~ /^\/guides\//)}
                %a(href='/guides/') Guides
              %li{:class=>('active' if page.url =~ /^\/blog\//)}
                %a(href='/blog/') Blog
              %li{:class=>('active' if page.url =~ /^\/community\//)}
                %a(href='/community/') Community
              %li{:class=>('active' if page.url =~ /^\/(code|modules)\//)}
                %a(href='/code/') Code
    ~ interwiki_urls(content)
    %footer
      .container
        .project
          %img{:src=>'/images/arquillian_logo_200px.png'}
          %p.bottom
            &#169;
            Copyright #{DateTime.now.year} The Arquillian Project
            %br
            %i.icon.icon-fire
            Baked by <a href="http://awestruct.org">Awestruct</a>
            %br
            %i.icon.icon-share-alt
            Website and docs licensed as <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
            %br
            Code released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>
        .footer-nav
          %h4 Learn
          %ul
            %li
              %a{:href=>'/invasion'} Mission
            %li
              %a{:href=>'/features'} Features
            %li
              %a{:href=>'/guides'} Guides 
            %li
              %a{:href=>site.ref_guide} Manual
        .footer-nav
          %h4 Get Involved
          %ul
            %li
              %a{:href=>site.user_forum} Forums
            %li
              %a{:href=>site.issue_tracker} Issue Tracker
            %li
              %a{:href=>site.source_repo} Source Code
            %li
              %a{:href=>'/community/contributors'} Contributors
        .sponser
          .follow-us
            %h4 Stay Informed
            %ul
              %li
                %a(href='https://plus.google.com/100660127586085393031')<
                  %img(src='/images/gplus-icon.png' alt='Google+')
                %a(href='https://twitter.com/#!/search/%23arquillian')<
                  %img(src='/images/tw-icon.png' alt='Twitter')
                %a(href='http://www.linkedin.com/groups?gid=3120340')<
                  %img(src='/images/in-icon.png' alt='LinkedIn')
                %a(href='http://vimeo.com/channels/arquillian')<
                  %img(src='/images/vimeo-icon.png' alt='Vimeo')
          :textile
            This website is open source! You can also "see the stats":http://www.seethestats.com/site/arquillian.org. If you want to help, "fork the project":http://github.com/arquillian/arquillian.github.com and start hacking.

            "!(branding)/images/jboss_redhat_branding.png(Red Hat, Inc.)!":http://jboss.org

            p(bottom). Arquillian is a "JBoss Community":http://jboss.org project and development is sponsored by Red Hat, Inc.
    -#= fork_me_ribbon(site, page)
    %script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js')
    %script(src='/javascripts/prettify.js')
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript}
    - if site.google_analytics
      = google_analytics_async
    -#= add_debug(site, page)
