!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title= (page.title ? [page.title, page.site_title ? page.site_title : site.title] : [site.title, site.tagline]) * ' &#183; '
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='description'){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name='keywords'){:content=>site.keywords}
    - if page.author
      %meta(name='author'){:content=>site.identities.lookup(page.author).name}
    - if site.url
      %link(rel='canonical'){:href=>site.url}
    %link(rel='alternate' type='application/atom+xml' href='/blog/atom.xml' title='Arquillian blog Atom feed')
    %link(rel='stylesheet'){:href=>fingerprint_asset('/stylesheets/screen.scss')}
    %script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    - if page.stylesheets
      - page.stylesheets.each do |stylesheet|
        %link(rel='stylesheet' href=stylesheet)
    /[if lt IE 9]
      %script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js')
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{:src=>javascript}
    %link(rel='shortcut icon' href='/favicon.ico')
    - if page.author
      - page_author = site.identities.lookup(page.author)
      - if !page_author.nil? and !page_author.google.nil?
        %link(rel='author'){:href=>page_author.google.url}

  %body{:class=>page.body_class || nil}
    %header#banner.navbar.navbar-fixed-top(role='banner')
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data=>{:toggle=>'collapse', :target=>'.nav-collapse'}}
            - (1..3).each do
              %span.icon-bar
          - if site.google_plusone
            .g-plusone-slot
              .g-plusone{:data=>{:annotation=>'none'}}
          %a.brand(href='/')
            %span.logo
            %span.name= site.title
          %nav.nav-collapse(role='navigation')
            %ul.nav
              %li{:class=>('active' if page.url =~ /^\/invasion\//)}<
                %a(href='/invasion/') Invasion!
              %li{:class=>('active' if page.url =~ /^\/features\//)}<
                %a(href='/features/') Features
              %li{:class=>('active' if page.url =~ /^\/guides\//)}<
                %a(href='/guides/') Guides
              %li{:class=>('active' if page.url =~ /^\/blog\//)}<
                %a(href='/blog/') Blog
              %li{:class=>('active' if page.url =~ /^\/community\//)}<
                %a(href='/community/') Community
              %li{:class=>('active' if page.url =~ /^\/(code|modules)\//)}<
                %a(href='/modules/') Modules
    ~ interwiki_urls(content)
    %footer
      .container
        .project
          %img{:src=>'/images/arquillian_logo_200px.png'}
          %p.bottom
            &#169;
            Copyright 2009-#{DateTime.now.year} Red Hat, Inc.
            %br
            %i.icon-fire
            Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>. Baked by <a href="http://awestruct.org">Awestruct</a>.
            %br
            %i.icon-share-alt
            Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            %br
            Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
        .footer-nav
          %h4 Learn
          %ul
            %li
              %a{:href=>'/invasion'} Mission
            %li
              %a{:href=>'/features'} Features
            %li
              %a{:href=>'/guides'} Guides 
            %li
              %a{:href=>site.ref_guide} Manual
            %li
              %a{:href=>site.faqs} FAQs
        .footer-nav
          %h4 Get Involved
          %ul
            %li
              %a{:href=>site.user_forum} Forums
            %li
              %a{:href=>site.issue_tracker} Issue Tracker
            %li
              %a{:href=>site.source_repo} Source Code
            %li
              %a{:href=>'/community/contributors'} Contributors
            %li
              %a{:href=>'https://community.jboss.org/groups/testing'} Testing SIG
        .sponser
          .follow-us
            %h4 Stay Informed
            %ul
              %li
                %a(href='https://plus.google.com/100660127586085393031?rel=author')<
                  %img(src='/images/social/googleplus-16.png' alt='Google+' title='Follow Arquillian on Google+')
              %li
                %a(href='https://twitter.com/#!/search/%23arquillian')<
                  %img(src='/images/social/twitter-16.png' alt='Twitter' title='Browse the #arquillian hashtag on Twitter')
              %li
                %a(href='http://www.linkedin.com/groups?gid=3120340')<
                  %img(src='/images/social/linkedin-16.png' alt='LinkedIn' title='Join the Arquillian group on LinkedIn')
              %li
                %a(href='http://vimeo.com/channels/arquillian')<
                  %img(src='/images/social/vimeo-16.png' alt='Vimeo' title='Follow the Arquillian channel on Vimeo')
          :textile
            This website is open source! If you want to improve it, "fork the project":http://github.com/arquillian/arquillian.github.com, hack on it, then send a "pull request":https://help.github.com/articles/using-pull-requests. You can also view the "visitor stats":http://www.seethestats.com/site/arquillian.org.

            p(image). "!(branding)/images/jboss_redhat_branding.png(Red Hat, Inc.)!":http://jboss.org

            Arquillian is a "JBoss Community":http://jboss.org project and development is sponsored by Red Hat, Inc.

            p(bottom). "Terms of Use":http://www.redhat.com/legal/legal_statement.html | "Privacy Policy":http://www.redhat.com/legal/privacy_statement.html
        %a#toTop.visible-desktop(href='#') Top
    :plain
      <script>
        $(function() {
          $('html').addClass('ready');
          prettify();
          activateFooterGravity();
          activateTooltips();
          activateToTopControl();
        });
      </script>
    %script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js')
    %script(src='/javascripts/prettify.js')
    %script{:src=>fingerprint_asset('/javascripts/site.js')}
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript}
    - if site.google_plusone
      :plain
        <script>
          (function() {
            var po = document.createElement('script'); po.async = true; po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    - if site.google_analytics
      = google_analytics_async
