!!! 5
%html{ :lang=>'en' }
  %head
    %meta{ :charset=>'utf-8'}
    %title #{site.title} | #{page.title}
    %meta{ :name=>'description', :content=>site.description }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/prettify.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %script{ :type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/prettify.js' }
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{ :type=>'text/javascript', :src=>javascript }
    :javascript
      $(document).ready(function() {
          prettify();
      });
  %body{ :class=>[ 'bp', page.body_class ] }
    %header{ :role=>'banner' }
      .container
        %h2#logo
          %a{ :href=>'/' }>
            %img.arquillian{ :src=>'/images/arquillian_glossy_icon.png', :alt=>'Arquillian' }>
        %nav{ :role=>'navigation' }
          %ul
            %li
              %a{ :href=>'/invasion/'} Invasion
            %li
              %a{ :href=>'/blog/'} Blog
            %li
              %a{ :href=>'/features/'} Features
            %li
              %a{ :href=>'/guides/'} Learn
            %li
              %a{ :href=>'/community/'} Community
            %li
              %a{ :href=>'/code/'} Code
        %div{ :style=>'position: absolute; top: 49px; right: 0; font-weight: bold; width: auto; margin-right: 128px; font-size: 0.95em;'} Latest Release: #{site.releases.first.version}
    ~ interwiki_urls(content)
    .container
      %p A footer will go here...
    %a{ :href=>'http://jboss.org' }>
      %img.jboss{ :src=>'/images/jboss_community_logo.png', :alt=>'JBoss Community' }>
    = fork_me_ribbon
