---
layout: base
---
#main
  #content.container
    %h1 #{page.title}
    .post
      .byline{ :style=>'margin-left: 55px;' }
        .author
          = page.author
        .date{ :style=>'float: left; margin-left: -55px; margin-top: -.8em;' }
          = page.date.strftime('<abbr>%b</abbr> %d')
        .tags
          - page.tags.each do |tag|
            = tag
      .body{ :style=>'margin-left: 55px;' }
        ~ content
