---
layout: module
---
%h3 Versions
#versions
  %ul
    - for tag in page.git_tags
      %li
        .version
          #{tag.name}
          - if (page.arq_tags_info[tag.name].arquillian_core_version)
            (compiled against Arquillian Core #{page.arq_tags_info[tag.name].arquillian_core_version})
          %ul
            - for container in page.arq_tags_info[tag.name].containers
              %li= container
~ content
