---
layout: base
---
- page.body_class = 'guide'
#section
  .container
    .section_header
      %h2
        %a{ :href=>'/guides/'} Arquillian Guides
      %p These guides are designed to teach you how to use Arquillian to write real tests.
    .section_sidebar
      %a.guides_menu{ :href=>'index.html' }
        Guides Index
        %span.arrow &rsaquo;
      #guides{ :style=>'display: none' }
        %a.guides_menu{ :href=>'index.html' }
          Guides Index
          %span.arrow &rsaquo;
        %hr
        %dl.beg
          %dt First Steps
          %dd Getting Started
          %dd Running the Showcase
          %dd Core Concepts
        %dl.int 
          %dt Enhancing
          %dd Writing a Container Adapter
#guide
  .two-col
    ~ content
