---
layout: guide-index
---
#content
  ~ content

- if page.guide
  #sidebar
    #toc
      %h3.chapter_header Chapters
      %ol.chapters
        - for chapter in page.guide.chapters
          %li
            %a{ :id=>"#{chapter.link_id}_link", :href=>"##{chapter.link_id}" }
              =chapter.text

  :javascript
    $(document).ready(function() {
      var toc = $('#toc');
      var tocTop = toc.position().top;
      var sidebar = $('#sidebar');
      var sidebarBottom = sidebar.position().top + sidebar.outerHeight();
      var contentBottom = $('#guide').outerHeight() + $('#guide').position().top;
      var sections = [
        #{page.guide.chapters.map{|x| '\'' + x.link_id + '\''}.join(',')}
      ];
      var sectionOffsets = {};
      for (var i = 0, len = sections.length; i < len; i++) {
        var s = sections[i];
        sectionOffsets[s] = $('#' + s).position().top;
      }
      var linkColor = $('#' + sections[0]+ "_link").css('color');
      var lastSection = false;
      $(window).scroll(function() {
        var scrollY = $(window).scrollTop();
        console.log("avail: " + (contentBottom - scrollY) + "; need:" + toc.height());
        if (scrollY > tocTop) {
          if (contentBottom - scrollY < (toc.outerHeight() + 25)) {
            toc.css({position: 'fixed', top: -15 - (toc.outerHeight() - (contentBottom - scrollY))});
          }
          else {
            toc.css({position: 'fixed', top: 5});
          }
        }
        else {
          toc.css({position: ''});
        }

        for (var i = 0, len = sections.length; i < len; i++) {
          var s = sections[i];
          if (scrollY > sectionOffsets[s] && (i == len - 1 || scrollY < sectionOffsets[sections[i + 1]])) {
            if (lastSection != s) {
              if (lastSection) {
                $('#' + lastSection + '_link').css({fontWeight: 'normal', color: linkColor});
              }
              $('#' + s + '_link').css({fontWeight: 'bold', color: '#333333'});
              lastSection = s;
              break;
            }
          }
        }
      });
    });
