---
layout: base
---
- page.body_class = 'guide'
- groups = [['beg', 'First Steps'], ['int', 'More Coverage'], ['adv', 'Enhance']]
:javascript
  function toggleGuidesMenu(e) {
    if (document.getElementById('guides').style.display == 'none') {
      document.getElementById('guides').style.display = 'block';
      $('body').click(function(e) { toggleGuidesMenu(e); });
    } else {
      document.getElementById('guides').style.display = 'none';
      $('body').unbind('click');
    }
    return false;
  }

  $(document).ready(function() {
    $('#guides_menu, .guides_menu').click(toggleGuidesMenu);
  });
#main
  #section
    .container
      .section_header
        %h2
          %a{ :href=>'/guides/'} Arquillian Guides
        %p These guides are designed to teach you how to use Arquillian to write real tests.
      .section_sidebar
        %a#guides_menu.guides_menu{ :href=>'index.html' }
          Guides Index
          %span.arrow &rsaquo;
        #guides{ :style=>'display: none' }
          %a.guides_menu{ :href=>'index.html' }
            Guides Index
            %span.arrow &rsaquo;
          %hr.clear
          - groups.each_with_index do |group, index|
            %dl{ :class=>group[0]}
              %dt= group[1]
              - for guide in site.guides.select{|x| x.group == index + 1}
                %dd<
                  %a{ :href=>"#{guide.output_path}"}=guide.title
  #guide
    .two-col
      ~ content
