---
layout: default
---
- page.title = "Community member: #{page.identity.name}"
- page.header_title = "#{page.identity.role}"
#content
  .row
    .span9
      .hero-unit
        .pull-left
          %img{:src=>page.identity.avatar_url(120), :alt=>page.identity.name, style:"padding:5px;"}
        %h2
          =page.identity.name
          %small #{page.identity.company} #{page.identity.location}
        .bio=page.identity.bio
  .row
    .span9
      - for release in site.pages.select{|x| !x.release.nil? and page.identity.emails.index(x.release.released_by.email)}
        %p=release.title