---
layout: default
---
- page.title = "Community member: #{page.identity.name}"
- page.header_title = "#{page.identity.name}"
#content
  .row
    .span12
      .hero-unit
        .row
          .pull-left
            %img{:src=>page.identity.avatar_url(120), :alt=>page.identity.name, style:"padding:5px;"}
          %h2
            =page.identity.role
          %h3
            =page.identity.company
            %small #{page.identity.location}
        .row
          .bio=page.identity.bio

- #for release in site.pages.select{|x| !x.release.nil? and page.identity.emails.index(x.release.released_by.email)}
- #release.title