---
layout: default
---
- page.body_class = 'invasion'
#sidebar
  .tab-group
    %ul.nav
      %li{:class=>('active' if page.url == '/invasion/')}
        %a(href='/invasion/') Mission
      -#%li{:class=>('active' if page.url == '/invasion/tech/')}
      -#  %a(href='/invasion/tech') Tech
      %li{:class=>('active' if page.url == '/invasion/origins/')}
        %a(href='/invasion/origins') Origins
      %li{:class=>('active' if page.url == '/invasion/team/')}
        %a(href='/invasion/team') Team
      %li{:class=>('active' if page.url == '/invasion/buzz/')}
        %a(href='/invasion/buzz') Buzz
      %li{:class=>('active' if page.url == '/invasion/events/')}
        %a(href='/invasion/events') Events
      %li{:class=>('active' if page.url == '/invasion/press/')}
        %a(href='/invasion/press') Press
      %li{:class=>('active' if page.url == '/invasion/videos/')}
        %a(href='/invasion/videos') Videos
      %li{:class=>('active' if page.url == '/invasion/spread/')}
        %a(href='/invasion/spread') Spread Ike!
#content
  ~ content
