---
layout: base
---
#main
  #content.container
    %h1 #{page.title}
    
    #versions
      %ul
        - for version in page.github_repo_tags
          %li= version['name'] 
      
    #contributors
      %ul
        - for contributor in page.github_repo_contributors
          %li
            %a{:href=>"#{contributor['url']}"}
              %img.contributor{:src=>"#{contributor['avatar_url']}"}
            =contributor['login']
            
    
    ~ content

