---
layout: blog
---
- page.site_title = 'Arquillian Blog'
- page.header_title = page.site_title
- page.title_link = '/blog/'
- page.body_class = 'blog'
- page.javascripts = [ 'http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eab99ce39a26d46' ]
- page.description = html_to_text(page.content).split("\n").first
= partial('post.html.haml', {'parent'=>page, 'post'=>page, 'include_comments'=>true})
%ul.pager
  %li.previous{:class=>('disabled' unless page.previous_post)}
    %a{:href=>page.previous_post ? page.previous_post.url : '#'} &laquo; Previous
  %li.pages Post #{site.posts.size - site.posts.index(page)} of #{site.posts.size}
  %li.next{:class=>('disabled' unless page.next_post)}
    %a{:href=>page.next_post ? page.next_post.url : '#'} Next &raquo;
