---
layout: blog
---

#content
  ~ content

  .releasenotes
    %h2 Issues
    - site.jira_release['versions'].select{|x| x['name'].eql? "#{page.jira_version_prefix}#{page.version}" }.each do |x|
      .release=x['releaseNotes']


#metadata
  %table
    %tr
      %th="Module"
      %td=page.github_repo
    %tr
      %th="Version"
      %td=page.version
    %tr
      %th="Date"
      %td=page.date
